<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Overview" data-toc-modified-id="Overview-0"><span class="toc-item-num">0&nbsp;&nbsp;</span>Overview</a></span></li><li><span><a href="#Table-Definition" data-toc-modified-id="Table-Definition-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Table Definition</a></span><ul class="toc-item"><li><span><a href="#Review-of-Table-as-Column-Dictionary" data-toc-modified-id="Review-of-Table-as-Column-Dictionary-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Review of Table as Column Dictionary</a></span></li><li><span><a href="#Table-Display" data-toc-modified-id="Table-Display-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Table Display</a></span></li><li><span><a href="#Table-Definition-Syntax" data-toc-modified-id="Table-Definition-Syntax-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Table-Definition Syntax</a></span></li><li><span><a href="#Table-Metadata" data-toc-modified-id="Table-Metadata-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Table Metadata</a></span></li><li><span><a href="#Records" data-toc-modified-id="Records-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Records</a></span></li><li><span><a href="#Flipped-Column-Dictionary-vs.-List-of-Records" data-toc-modified-id="Flipped-Column-Dictionary-vs.-List-of-Records-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Flipped Column Dictionary vs. List of Records</a></span></li></ul></li><li><span><a href="#Empty-Tables-and-Schema" data-toc-modified-id="Empty-Tables-and-Schema-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Empty Tables and Schema</a></span></li><li><span><a href="#Basic-select-and-update" data-toc-modified-id="Basic-select-and-update-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Basic select and update</a></span><ul class="toc-item"><li><span><a href="#Syntax-of-select" data-toc-modified-id="Syntax-of-select-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Syntax of <code>select</code></a></span></li><li><span><a href="#Displaying-the-Result" data-toc-modified-id="Displaying-the-Result-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Displaying the Result</a></span></li><li><span><a href="#Selecting-Columns" data-toc-modified-id="Selecting-Columns-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Selecting Columns</a></span></li><li><span><a href="#Basic-update" data-toc-modified-id="Basic-update-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Basic update</a></span></li></ul></li><li><span><a href="#Primary-Keys-and-Keyed-Tables" data-toc-modified-id="Primary-Keys-and-Keyed-Tables-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Primary Keys and Keyed Tables</a></span><ul class="toc-item"><li><span><a href="#Keyed-Table" data-toc-modified-id="Keyed-Table-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Keyed Table</a></span></li><li><span><a href="#Simple-Example" data-toc-modified-id="Simple-Example-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Simple Example</a></span></li><li><span><a href="#Keyed-Table-Definition-Syntax" data-toc-modified-id="Keyed-Table-Definition-Syntax-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Keyed-Table Definition Syntax</a></span></li><li><span><a href="#Accessing-Records-of-a-Keyed-Table" data-toc-modified-id="Accessing-Records-of-a-Keyed-Table-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Accessing Records of a Keyed Table</a></span></li><li><span><a href="#Retrieving-Multiple-Records" data-toc-modified-id="Retrieving-Multiple-Records-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>Retrieving Multiple Records</a></span></li><li><span><a href="#Reverse-Lookup" data-toc-modified-id="Reverse-Lookup-4.6"><span class="toc-item-num">4.6&nbsp;&nbsp;</span>Reverse Lookup</a></span></li><li><span><a href="#Components-of-a-Keyed-Table" data-toc-modified-id="Components-of-a-Keyed-Table-4.7"><span class="toc-item-num">4.7&nbsp;&nbsp;</span>Components of a Keyed Table</a></span></li><li><span><a href="#Tables-vs.-Keyed-Tables" data-toc-modified-id="Tables-vs.-Keyed-Tables-4.8"><span class="toc-item-num">4.8&nbsp;&nbsp;</span>Tables vs. Keyed Tables</a></span></li><li><span><a href="#Compound-Primary-Key" data-toc-modified-id="Compound-Primary-Key-4.9"><span class="toc-item-num">4.9&nbsp;&nbsp;</span>Compound Primary Key</a></span></li><li><span><a href="#Retrieving-Records-with-a-Compound-Primary-Key" data-toc-modified-id="Retrieving-Records-with-a-Compound-Primary-Key-4.10"><span class="toc-item-num">4.10&nbsp;&nbsp;</span>Retrieving Records with a Compound Primary Key</a></span></li><li><span><a href="#Extracting-Column-Data" data-toc-modified-id="Extracting-Column-Data-4.11"><span class="toc-item-num">4.11&nbsp;&nbsp;</span>Extracting Column Data</a></span></li></ul></li><li><span><a href="#Foreign-Keys-and-Virtual-Columns" data-toc-modified-id="Foreign-Keys-and-Virtual-Columns-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Foreign Keys and Virtual Columns</a></span><ul class="toc-item"><li><span><a href="#Definition-of-Foreign-Key" data-toc-modified-id="Definition-of-Foreign-Key-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Definition of Foreign Key</a></span></li><li><span><a href="#Example-of-Simple-Foreign-Key" data-toc-modified-id="Example-of-Simple-Foreign-Key-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Example of Simple Foreign Key</a></span></li><li><span><a href="#Resolving-a-Foreign-Key" data-toc-modified-id="Resolving-a-Foreign-Key-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Resolving a Foreign Key</a></span></li><li><span><a href="#Foreign-Keys-and-Relations" data-toc-modified-id="Foreign-Keys-and-Relations-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>Foreign Keys and Relations</a></span></li></ul></li><li><span><a href="#Working-with-Tables-and-Keyed-Tables" data-toc-modified-id="Working-with-Tables-and-Keyed-Tables-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Working with Tables and Keyed Tables</a></span><ul class="toc-item"><li><span><a href="#Appending-Records" data-toc-modified-id="Appending-Records-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Appending Records</a></span></li><li><span><a href="#First-and-Last-Records" data-toc-modified-id="First-and-Last-Records-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>First and Last Records</a></span></li><li><span><a href="#Find-?" data-toc-modified-id="Find-?-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span>Find <code>?</code></a></span></li><li><span><a href="#Union-with-," data-toc-modified-id="Union-with-,-6.4"><span class="toc-item-num">6.4&nbsp;&nbsp;</span>Union with <code>,</code></a></span></li><li><span><a href="#Coalesce-^" data-toc-modified-id="Coalesce-^-6.5"><span class="toc-item-num">6.5&nbsp;&nbsp;</span>Coalesce <code>^</code></a></span></li><li><span><a href="#Column-Join" data-toc-modified-id="Column-Join-6.6"><span class="toc-item-num">6.6&nbsp;&nbsp;</span>Column Join</a></span></li></ul></li><li><span><a href="#Complex-Column-Data" data-toc-modified-id="Complex-Column-Data-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Complex Column Data</a></span><ul class="toc-item"><li><span><a href="#Simple-Example" data-toc-modified-id="Simple-Example-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Simple Example</a></span></li><li><span><a href="#Operations-on-Compound-Column-Data" data-toc-modified-id="Operations-on-Compound-Column-Data-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Operations on Compound Column Data</a></span></li><li><span><a href="#Compound-Foreign-Key" data-toc-modified-id="Compound-Foreign-Key-7.3"><span class="toc-item-num">7.3&nbsp;&nbsp;</span>Compound Foreign Key</a></span></li></ul></li><li><span><a href="#Attributes" data-toc-modified-id="Attributes-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Attributes</a></span><ul class="toc-item"><li><span><a href="#Sorted-`s#" data-toc-modified-id="Sorted-`s#-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>Sorted `<code>s#</code></a></span></li><li><span><a href="#Unique-`u#" data-toc-modified-id="Unique-`u#-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span>Unique `<code>u#</code></a></span></li><li><span><a href="#Parted-`p#" data-toc-modified-id="Parted-`p#-8.3"><span class="toc-item-num">8.3&nbsp;&nbsp;</span>Parted `<code>p#</code></a></span></li><li><span><a href="#Grouped-`g#" data-toc-modified-id="Grouped-`g#-8.4"><span class="toc-item-num">8.4&nbsp;&nbsp;</span>Grouped `<code>g#</code></a></span></li><li><span><a href="#Remove-Attribute-`#" data-toc-modified-id="Remove-Attribute-`#-8.5"><span class="toc-item-num">8.5&nbsp;&nbsp;</span>Remove Attribute `<code>#</code></a></span></li></ul></li></ul></div>

## Overview

**Tables are first-class entities in q**, meaning they are data structures that live in memory just like lists or dictionaries. **A q table is essentially a collection of named columns implemented as a dictionary**. Consequently, q tables are column-oriented, in contrast to the row-oriented tables in relational databases. Moreover, since lists are ordered, so are columns, in contrast to SQL where the order of rows is undefined. The fact that q tables comprise ordered column lists makes kdb+ very efficient at storing, retrieving and manipulating sequential data.

## Table Definition
### Review of Table as Column Dictionary

In [1]:
dc:`name`iq!(`Dent`Beeblebrox`Prefect;98 42 126)
dc[`iq;]
dc[;2]
dc[`iq;2]

98 42 126

name| `Prefect
iq  | 126

126

In [2]:
/ transpose to get a table
t:flip dc
t

name       iq
--------------
Dent       98
Beeblebrox 42
Prefect    126

All tables have type `98h`.

In [3]:
type t

98h

The proper way to extract a table column is by eliding the row index. For table columns (only), you can omit the leading semi-colon in the syntax.

In [3]:
t[;`iq]
t[`iq]
t[`name`iq]

98 42 126

98 42 126

Dent Beeblebrox Prefect
98   42         126

Since it is possible to retrieve values from a dictionary using dot notation, this is also true for tables.

**Unfortunately dot notation doesn’t work inside functions so we recommend not using it at all.**

In [4]:
t.name

`Dent`Beeblebrox`Prefect

### Table Display

Observe that the row and column display of a table is indeed the transpose of the dictionary display. This reflects the transposed indices, even though the internal data layout is the same.

In [5]:
dc

name| Dent Beeblebrox Prefect
iq  | 98   42         126

In [6]:
t

name       iq
--------------
Dent       98
Beeblebrox 42
Prefect    126

### Table-Definition Syntax

$([]\ * {\mathrm{C}_{1}} *: * \mathrm{L}_{1} * ; \ldots ; * {\mathrm{C}_{\mathrm{n}}} *:* \mathrm{L}_{\mathrm{n}} * )$

Here $c_i$ is a symbol representing a column name and $L_i$ is the corresponding list of column values. The $L_i$ are lists of equal count, but can be atoms as long as at least one is a list. 

The colons in table-definition syntax **are** not assignment. They are part of the syntactic sugar and serve as markers separating column names from column values.

**Do not omit the square brackets in table-definition syntax**

The interpreter will not complain and you will end up with a list, rather than a table, and the colons will be assignment.

In [7]:
t:([] name:`Dent`Beeblebrox`Prefect; iq:98 42 126)
t~flip `name`iq!(`Dent`Beeblebrox`Prefect;98 42 126)

1b

The value lists in table-definition syntax can originate from variables, which is useful for **programmatic table definition**. In this case the column names are the variable names. It will also try to make duplicate column names unique by appending a numeric suffix.

In [8]:
c1:`Dent`Beeblebrox`Prefect
c2:98 42 126
([] c1; c2)

c1         c2
--------------
Dent       98
Beeblebrox 42
Prefect    126

Any valid q expression can appear to the right of the semi-colon in table-definition syntax; it is evaluated as part of the table construction. **You must ensure that the resulting column lists all have the same length**.

In [9]:
([] c1:1+til 5; c2:5#42)

c1 c2
-----
1  42
2  42
3  42
4  42
5  42

Provided you specify at least one column as a list, atoms will be extended to match.

In [10]:
([] c1:`a`b`c; c2:42; c3:98.6)

c1 c2 c3
----------
a  42 98.6
b  42 98.6
c  42 98.6

**You cannot define a single-row table using all atoms. You must enlist at least one of the atoms.**

In [10]:
([] enlist `a; c2:100)
([] c1:`a; c2:100)

x c2
-----
a 100

rank: rank

If you create a table as the flip of a column dictionary, **item-wise extension is performed when the column dictionary is flipped into a table**.

In [11]:
`c1`c2`c3!(`a`b`c;42;1.1)
flip `c1`c2`c3!(`a`b`c;42;1.1)

c1| `a`b`c
c2| 42
c3| 1.1

c1 c2 c3
---------
a  42 1.1
b  42 1.1
c  42 1.1

### Table Metadata

In [12]:
cols t

`name`iq

The function `meta` applied to a table retrieves its metadata. The result is a keyed table with one record for each column in the original table.

- The key column `c` of the result contains the column names.
- The column `t` contains a symbol denoting the type char of the column.
- The column `f` contains the domains of any foreign key or link columns.
- The column `a` contains any attributes associated with the column.

In [13]:
meta t

c   | t f a
----| -----
name| s
iq  | j

When `meta` displays an **upper-case type char** for a column, this indicates that column is a **compound list in which all fields are simple lists of the indicated type**. Such tables arise, for example, when you group without aggregating in a query.

In [14]:
meta ([] c1:1 2 3; c2:(1 2; enlist 3; 4 5 6))

c | t f a
--| -----
c1| j
c2| J

The function `tables` takes a symbolic namespace and returns a sorted symbol list of the names of tables in that context. For example, we list all tables in the root context for a fresh q session.

In [15]:
t2:([] c1:1 2 3; c2:(1 2; enlist 3; 4 5 6))
t:([] name:`Dent`Beeblebrox`Prefect; iq:98 42 126)
tables `.

`s#`t`t2

Alternatively, the command `\a` provides the same result. If no argument is provided, it returns the result for the current context.

In [16]:
\a

`s#`t`t2

### Records

In [17]:
count t

3

In [18]:
t

name       iq
--------------
Dent       98
Beeblebrox 42
Prefect    126

In [21]:
t[0]
t[1]

name| `Dent
iq  | 98

name| `Beeblebrox
iq  | 42

In [20]:
value t[1]

`Beeblebrox
42

### Flipped Column Dictionary vs. List of Records

In [22]:
type (`name`iq!(`Dent;98); `nome`iq!(`Beeblebrox;42))
type (`name`iq!(`Dent;98); `name`iq!(`Beeblebrox;42)) /q has indeed converted the list to a table.

0h

98h

**A useful special case of this phenomenon**

In [23]:
enlist `a`b!10 20 / a table: a singleton list of records that conform

a  b
-----
10 20

## Empty Tables and Schema

**Fully listing columns with literals is usually done only with smaller tables** – e.g., lookup tables. Large tables are usually created programmatically from **computed data or data read from files or received over the wire.**

In these circumstances, it is useful to **create an empty table initially and then populate it later by appending in place**. You could do this with general empty lists.

In [25]:
([] name:(); iq:())

name iq
-------

**It is good practice to specify the types of all columns in an empty table.**

In [26]:
([] name:`symbol$(); iq:`int$())

name iq
-------

In [27]:
([] name:0#`; iq:0#0) / A shorter, and arguably less obvious technique is the following.
([] name:0#`; iq:0#0) ~ ([] name:`symbol$(); iq:`long$())

name iq
-------

1b

## Basic select and update

In [28]:
t:([] name:`Dent`Beeblebrox`Prefect; iq:98 42 126)

### Syntax of `select`

`select cols from table`

In q you do not write the wildcards when you want all columns in the table; simply omit the columns and you get them all.

### Displaying the Result

The result of `select` is always a **table**. You may think of it as a list of (conforming) records but it is actually constructed as a column dictionary.

In [29]:
select from t

name       iq
--------------
Dent       98
Beeblebrox 42
Prefect    126

### Selecting Columns

In [30]:
select name from t
select c1:name, c2:iq from t

name
----------
Dent
Beeblebrox
Prefect

c1         c2
--------------
Dent       98
Beeblebrox 42
Prefect    126

### Basic update

The syntax of `update` is the same as `select`, but named columns represent replacement by the values to the right of the colon.

In [31]:
update iq:iq%100 from t

name       iq
---------------
Dent       0.98
Beeblebrox 0.42
Prefect    1.26

## Primary Keys and Keyed Tables

### Keyed Table

A _keyed table_ is a dictionary mapping a table of key records to a table of value records. This represents a mapping from each row in a table of (presumably unique) keys to a corresponding row in a table of values – i.e., a positional correspondence of key rows to value rows. Using dictionary lookup on a key (record) retrieves the corresponding value record in the remaining columns. This is just what a primary key should do. Note that the key mapping assumes that the key records and value records are in corresponding order.

**A keyed table is not a table – it is a dictionary and so has type 99h.**

Keys should be unique but (sadly) this is not enforced. As we have already noted, dictionary creation does not enforce key uniqueness. A value row associated with a duplicate key is not accessible via key lookup, but it can be retrieved via a select on the key column.

### Simple Example

In [33]:
v:flip `name`iq!(`Dent`Beeblebrox`Prefect;98 42 126)
k:flip (enlist `eid)!enlist 1001 1002 1003
kt:k!v
kt

eid | name       iq
----| --------------
1001| Dent       98
1002| Beeblebrox 42
1003| Prefect    126

### Keyed-Table Definition Syntax

In [35]:
kt:(flip (enlist `eid)!enlist 1001 1002 1003)!
    flip `name`iq!(`Dent`Beeblebrox`Prefect;98 42 126)
kt

eid | name       iq
----| --------------
1001| Dent       98
1002| Beeblebrox 42
1003| Prefect    126

Placing key column(s) inside the square brackets is consistent with the notation for a (regular) table since a regular table has no keys.

In [41]:
kt:([eid: 1001 1002 1003]
      name:`Dent`Beeblebrox`Prefect; iq:98 42 126)

In [39]:
ktempty:([eid:()] name:(); iq:())

In [40]:
ktempty:([eid:`int$()] `symbol$name:(); iq:`int$())
ktempty:([eid:0#0] name:0#`; iq:0#0)

### Accessing Records of a Keyed Table

In [43]:
kt[(enlist `eid)!enlist 1002] /cumbersome
kt[1002]

name| `Beeblebrox
iq  | 42

name| `Beeblebrox
iq  | 42

In [44]:
kt[1002][`iq]

42

In [45]:
kt[1002;`iq] /depth notation

42

### Retrieving Multiple Records

In [46]:
kt[1001]
kt 1001

name| `Dent
iq  | 98

name| `Dent
iq  | 98

You might think it is possible to retrieve multiple records from a keyed table via a simple list of keys. **You would be wrong.**

**This works for a compound key – i.e., a multi-column key – just not for a single column key.**

In [46]:
kt[1001 1002]

length: length

In [47]:
/cumbersome way
kt[(enlist 1001;enlist 1002)]
kt[flip enlist 1001 1002]

name       iq
-------------
Dent       98
Beeblebrox 42

name       iq
-------------
Dent       98
Beeblebrox 42

In [49]:
kt ([] eid:1001 1002) /slick
([] eid:1001 1002)#kt

name       iq
-------------
Dent       98
Beeblebrox 42

eid | name       iq
----| -------------
1001| Dent       98
1002| Beeblebrox 42

### Reverse Lookup

In [50]:
kts:([eid:1001 1002 1003] name:`Dent`Beeblebrox`Prefect)
kts

eid | name
----| ----------
1001| Dent
1002| Beeblebrox
1003| Prefect

In [51]:
kts?([] name:`Prefect`Dent)

eid
----
1003
1001

### Components of a Keyed Table

In [52]:
key kt
value kt
keys kt /a list of symbolic key column name(s).
cols kt / all column names of the keyed table

eid
----
1001
1002
1003

name       iq
--------------
Dent       98
Beeblebrox 42
Prefect    126

,`eid

`eid`name`iq

### Tables vs. Keyed Tables

Convert dynamically between a regular table having a column of potential key values and the corresponding keyed table using binary primitive `xkey`

In [53]:
t:([] eid:1001 1002 1003; name:`Dent`Beeblebrox`Prefect; iq:98 42 126)
`eid xkey t

eid | name       iq
----| --------------
1001| Dent       98
1002| Beeblebrox 42
1003| Prefect    126

Convert a keyed table to a regular table, use `xkey` with an empty general list as the left operand.

In [54]:
kt:([eid:1001 1002 1003] name:`Dent`Beeblebrox`Prefect; iq:98 42 126)
() xkey kt

eid  name       iq
-------------------
1001 Dent       98
1002 Beeblebrox 42
1003 Prefect    126

You can also use an overload of `!` to key/unkey tables. The left operand is a non-negative integer that specifies the number of left-most columns to include in the key, where 0 indicates none – i.e., no keys. With t and kt as above,

**While these forms are terse, the first makes your code less obvious since the new key column(s) are only implicit.**

In [55]:
1!t
0!kt

eid | name       iq
----| --------------
1001| Dent       98
1002| Beeblebrox 42
1003| Prefect    126

eid  name       iq
-------------------
1001 Dent       98
1002 Beeblebrox 42
1003 Prefect    126

The table/keyed table conversions above (in both forms) work on copies and do not affect the original table. Use call-by-name to modify the original.

In [56]:
`eid xkey `t
t

`t

eid | name       iq
----| --------------
1001| Dent       98
1002| Beeblebrox 42
1003| Prefect    126

In [57]:
() xkey `kt
kt

`kt

eid  name       iq
-------------------
1001 Dent       98
1002 Beeblebrox 42
1003 Prefect    126

If `xkey` is applied with a column that does not contain unique values, the result is **not a error but rather a keyed table that does not have a true primary key**.

In [58]:
t:([] eid:1001 1002 1003 1001; name:`Dent`Beeblebrox`Prefect`Dup)
ktdup: `eid xkey t
ktdup

eid | name
----| ----------
1001| Dent
1002| Beeblebrox
1003| Prefect
1001| Dup

Duplicate key values are **not** accessible via key lookup. They are accessible via `select`.

In [60]:
ktdup 1001
select from ktdup where eid=1001

name| Dent

eid | name
----| ----
1001| Dent
1001| Dup

### Compound Primary Key

In [61]:
ktc:([lname:`Dent`Beeblebrox`Prefect; fname:`Arthur`Zaphod`Ford]; iq:98 42 126)
ktc

lname      fname | iq
-----------------| ---
Dent       Arthur| 98
Beeblebrox Zaphod| 42
Prefect    Ford  | 126

In [62]:
ktc[`lname`fname!`Beeblebrox`Zaphod]

iq| 42

In [63]:
ktc[`Dent`Arthur]

iq| 98

In [64]:
ktc:([lname:`symbol$();fname:`symbol$()] iq:`int$())
ktc:([lname:0#`;fname:0#`] iq:0#0)

In [67]:
/ keyed table built from its constituent column dictionaries.
ktc:(flip `lname`fname!(`Dent`Beeblebrox`Prefect;`Arthur`Zaphod`Ford))!
    flip (enlist `iq)!enlist 98 42 126

### Retrieving Records with a Compound Primary Key

In [69]:
/ lookup multiple value records with a list of compound keys.
ktc (`Dent`Arthur;`Prefect`Ford)
/ nifty construct with an anonymous table works with compound keys 
ktc ([] lname:`Dent`Prefect; fname:`Arthur`Ford)
/ from #
K:([] lname:`Dent`Prefect; fname:`Arthur`Ford)
K#ktc

iq
---
98
126

iq
---
98
126

lname   fname | iq
--------------| ---
Dent    Arthur| 98
Prefect Ford  | 126

### Extracting Column Data

In [70]:
kts:([k:101 102 103] v1:`a`b`c; v2:1.1 2.2 3.3)
kts
ktc:([k1: `a`b`c; k2: `x`y`z] v1:`a`b`c; v2:1.1 2.2 3.3)
ktc

k  | v1 v2
---| ------
101| a  1.1
102| b  2.2
103| c  3.3

k1 k2| v1 v2
-----| ------
a  x | a  1.1
b  y | b  2.2
c  z | c  3.3

In [71]:
/ retrieve all the value columns using an anonymous table of keys.
kts[([] k:101 103)]
ktc[([] k1:`a`c; k2:`x`z)]

v1 v2
------
a  1.1
c  3.3

v1 v2
------
a  1.1
c  3.3

In [72]:
kts[([] k:101 103)][`v1]
ktc[([] k1:`a`c;k2:`x`z)][`v1`v2]

`a`c

a   c
1.1 3.3

In [73]:
/ depth
kts[([] k:101 103); `v1]
ktc[([] k1:`a`c;k2:`x`z); `v1`v2]

`a`c

`a 1.1
`c 3.3

## Foreign Keys and Virtual Columns

### Definition of Foreign Key

A _foreign key_ is **one or more table columns whose values are defined as an enumeration over the key column(s) of a keyed table.** As in the case of symbol enumeration `sym$, the enumeration restricts foreign key values to be in the list of primary key values.

### Example of Simple Foreign Key

In [74]:
kt:([eid:1001 1002 1003] name:`Dent`Beeblebrox`Prefect; iq:98 42 126)
([] eid:1003 1001 1002 1001 1002 1001; sc:126 36 92 39 98 42)

eid  sc
--------
1003 126
1001 36
1002 92
1001 39
1002 98
1001 42

This table has no restriction on eid other than it be a long. To ensure that only eid values for actual travelers can be entered, we make the `eid` column in this table a foreign key related to the eid column in kt. **This is done by enumerating over the name of the keyed table – i.e., `kt$.**

**When q sees the name of a keyed table in an enumeration domain it knows to use the list of key records.**

In [75]:
`kt$1002 1001 1001 1003 1002 1003

`kt$1002 1001 1001 1003 1002 1003

In [76]:
`long$`kt$1002 1001 1001 1003 1002 1003

1 0 0 2 1 2

In [77]:
1003=`kt$1002 1001 1003 1002 1003

00101b

The enumeration provide **referential integrity**

In [77]:
`kt$1004

cast: cast

In [82]:
tdetails:([] eid:`kt$1003 1001 1002 1001 1002 1001; sc:126 36 92 39 98 42)
tdetails

eid  sc
--------
1003 126
1001 36
1002 92
1001 39
1002 98
1001 42

In [83]:
meta tdetails
fkeys tdetails

c  | t f  a
---| ------
eid| j kt
sc | j

eid| kt

### Resolving a Foreign Key

When you wish to resolve a foreign key – i.e., get the actual values instead of enumerated values – apply `value` to the enumerated column

In [84]:
meta update value eid from tdetails

c  | t f a
---| -----
eid| j
sc | j

### Foreign Keys and Relations

Let `tf` be a table having a foreign key column `f` enumerated over a keyed table `kt`. All columns in `kt` are available via **dot notation** in a select expression whose from domain is `tf`. To access a column `c` in `kt`, use the notation `f.c` in the select expression. This column takes the name `c` by default in the result.

In [85]:
/ There is an implicit left join between tdetails and kt here.
select eid.name, sc from tdetails

name       sc
--------------
Prefect    126
Dent       36
Beeblebrox 92
Dent       39
Beeblebrox 98
Dent       42

## Working with Tables and Keyed Tables

In [86]:
t:([] name:`Dent`Beeblebrox`Prefect; iq:98 42 126)
kt:([eid:1001 1002 1003] name:`Dent`Beeblebrox`Prefect; iq:98 42 126)

### Appending Records

The fundamental way to append a record to a table is to view the table as a list of records and join with `,:`. Note that the fields in the record do not need to be in column order.

In [87]:
t,:`name`iq!(`W; 26)
t,:`iq`name!(200; `Albert)
t

name       iq
--------------
Dent       98
Beeblebrox 42
Prefect    126
W          26
Albert     200

You can also append naked row values with `,:` but the fields must be in column order.

In [87]:
t,:(`H; 142)
t,:(97;`J)
t

type: type

In [88]:
t

name       iq
--------------
Dent       98
Beeblebrox 42
Prefect    126
W          26
Albert     200
H          142

### First and Last Records

In [89]:
first t
last t

name| `Dent
iq  | 98

name| `H
iq  | 142

A keyed table is a dictionary so functions apply to the value table.

In [90]:
first kt
last kt

name| `Dent
iq  | 98

name| `Prefect
iq  | 126

In [91]:
2#t
-3#kt

name       iq
-------------
Dent       98
Beeblebrox 42

eid | name       iq
----| --------------
1001| Dent       98
1002| Beeblebrox 42
1003| Prefect    126

### Find `?`

The Find operator `?` used with a table returns the index of a record – i.e., its row number.

In [94]:
t?`name`iq!(`Dent;98)
t[0]

0

name| `Dent
iq  | 98

The record can be abbreviated to a row list provided the fields have the right type and order.

In [95]:
t?(`Dent;98)

0

**Find is atomic in the right operand**

In [96]:
t?((`Dent;98);(`Prefect;126))

0 2

Since a keyed table is a dictionary, Find `?` performs a reverse lookup of a value record/row and returns the first associated key record.

In [97]:
kt?`name`iq!(`Dent;98)
kt?(`Dent;98)

eid| 1001

eid| 1001

As with key lookup, a single column must have enlisted values, or you can use the anonymous table construct.

In [100]:
t1:([] eid:1001 1002 1003)
t1?enlist each 1001 1002 /*
t1?([] eid:1001 1002)

0 1

0 1

### Union with `,`

You can use `,` to append a record to (a copy of) a table, but **no type checking will be performed.**

In [101]:
t,`name`iq!(`Slaartibartfast; `123)

name            iq
--------------------
Dent            98
Beeblebrox      42
Prefect         126
W               26
Albert          200
H               142
Slaartibartfast `123

**Using a row with , will not yield a table. Instead you get a general list.**

In [102]:
t,(`Slaartibartfast; 110)

`name`iq!(`Dent;98)
`name`iq!(`Beeblebrox;42)
`name`iq!(`Prefect;126)
`name`iq!(`W;26)
`name`iq!(`Albert;200)
`name`iq!(`H;142)
`Slaartibartfast
110

Tables having **exactly** the same `meta` result can be joined to form a table. Since a table is a list of records, the result is obtained by appending the records of the right operand to those of the left.

In [103]:
t,([] name:1#`W; iq:1#26)
t, t

name       iq
--------------
Dent       98
Beeblebrox 42
Prefect    126
W          26
Albert     200
H          142
W          26

name       iq
--------------
Dent       98
Beeblebrox 42
Prefect    126
W          26
Albert     200
H          142
Dent       98
Beeblebrox 42
Prefect    126
W          26
Albert     200
H          142

Two keyed tables with the same `meta` result can be joined with `,`. Because a keyed table is a dictionary whose keys and values are record lists, the operation has upsert semantics. Keys in the right operand that are not in the left operand are treated as append (i.e., insert), whereas the right operand acts as an update on common key values.

In [106]:
kt,([eid:1003 1004] name:`Prefect`W; iq:150 26)

eid | name       iq
----| --------------
1001| Dent       98
1002| Beeblebrox 42
1003| Prefect    150
1004| W          26

### Coalesce `^`

Coalesce `^` can be used to merge two keyed tables **having the same columns**. Its behavior derives from its behavior on **dictionaries**. For a **common key value and a common column, the value of the column in the right keyed table prevails over that of column in the left keyed table**, except where the right column is null, in which case the left column value survives. **On non-common keys the individual values carry thru.**

The behavior of `^` is the same as `,` when there are no nulls in a column in the right table.

In [107]:
([k:`a`b`c] v:10 0N 30)^([k:`a`b`c] v:100 200 0N)

k| v
-| ---
a| 100
b| 200
c| 30

In [108]:
([k:`a`b`c`x] v:10 0N 30 40)^([k:`a`b`c`y]; v:100 200 0N 0N)

k| v
-| ---
a| 100
b| 200
c| 30
x| 40
y|

The performance of `^` is slower than that of `,` since fields of the right operand must be checked for null.

### Column Join

Two tables with **the same number of records** can be joined sideways with Join Each (`,'`) to create a column join in which the columns are aligned in parallel

In [109]:
([] c1:`a`b`c),'([] c2:100 200 300)

c1 c2
------
a  100
b  200
c  300

When the column lists of the tables are not disjoint, the operation on the common columns has upsert semantics because each record is a dictionary.

In [110]:
([] c1:`a`b`c; c2:1 2 3),'([] c2:100 200 300)

c1 c2
------
a  100
b  200
c  300

**A sideways join on keyed tables requires that the key records conform, meaning that the key columns must have identical meta.** The columns from the right operand are aligned along common keys and appended elsewhere.

In [111]:
([k:1 2 3] v1:10 20 30),'([k:3 4 5] v2:1000 2000 3000)

k| v1 v2
-| -------
1| 10
2| 20
3| 30 1000
4|    2000
5|    3000

## Complex Column Data

### Simple Example

In [112]:
tf:([] d:2015.01.01 2015.01.02; l:67.9 72.8; h:82.1 88.4)
tf
tp:([] d:2015.01.01 2015.01.02; lh:(67.9 82.1; 72.8 88.4))
tp

d          l    h
--------------------
2015.01.01 67.9 82.1
2015.01.02 72.8 88.4

d          lh
--------------------
2015.01.01 67.9 82.1
2015.01.02 72.8 88.4

In [113]:
tp 0
tp `lh

d | 2015.01.01
lh| 67.9 82.1

67.9 82.1
72.8 88.4

### Operations on Compound Column Data

The case of a nested column in which all items are simple lists of the same type is handled specially in kdb+. We call this a _compound column_. There is no requirement that the simple lists all have the same length.

**Nested columns mean iterators. Lots of iterators.**

In [114]:
tm:([] wk:2015.01.01 2015.01.08; rv:(38.92 67.34; 16.99 5.14 128.23 31.69))
tm

wk         rv
----------------------------------
2015.01.01 38.92 67.34
2015.01.08 16.99 5.14 128.23 31.69

In [115]:
select wk, srt:desc each rv, avgr:avg each rv, hi:max each rv from tm

wk         srt                     avgr    hi
-------------------------------------------------
2015.01.01 67.34 38.92             53.13   67.34
2015.01.08 128.23 31.69 16.99 5.14 45.5125 128.23

In [119]:
select wk, drp:neg 1_'deltas each desc each rv from tm

wk         drp
---------------------------
2015.01.01 ,28.42
2015.01.08 96.54 14.7 11.85

### Compound Foreign Key

In [120]:
ktc:([lname: `Dent`Beeblebrox`Prefect; fname:`Arthur`Zaphod`Ford]; 
     iq:98 42 126)
tdetails:([] name:`ktc$(`Beeblebrox`Zaphod;`Prefect`Ford;`Beeblebrox`Zaphod); 
    sc:36 126 42)

In [121]:
select name.lname, name.iq, sc from tdetails

lname      iq  sc
------------------
Beeblebrox 42  36
Prefect    126 126
Beeblebrox 42  42

In [122]:
([] name:`ktc$();sc:`long$())

name sc
-------

In [123]:
ktc:([k1:1 2 3; k2:2001.01.01 2001.01.02 2001.01.03] v: 1. 2. 3.)
tfc:([] fk:`ktc$(); s:`symbol$())
tfc,:(`ktc$(1; 2001.01.01); `a)
tfc,:(`ktc$(1; 2015.01.01); `a) /enforced referential integrity.

cast: cast

In [124]:
tfc

fk s
----
0  a

## Attributes

Attributes are metadata that you attach to lists of special forms. They are also used on a dictionary domain or a table column to speed retrieval for some operations. The q interpreter can make certain optimizations based on the structure of the list implied by the attribute.

Attributes (other than \`g#) are descriptive rather than prescriptive. By this we mean that by applying an attribute you are asserting that the list has a special form, which q will check. It does **not** instruct q to (re)make the list into the special form; that is your job. A list operation that respects the form specified by the attribute leaves the attribute intact (other than \`p#), while an operation that breaks the form results in the attribute being removed in the result.

**The attribute is applied to the target list in place, not on a copy.**

Kx says not to expect significant benefit from an attribute for fewer than a million items.

### Sorted \``s#`

Applying the sorted attribute \`s# to a simple list indicates that the items of the list are sorted in ascending order; **there is no way to indicate a descending sort**. When a list has the sorted attribute, linear search is replaced with binary search, which makes certain operations faster – for example, Find `?`, Equal `=`, `in` and `within`.

In [125]:
`s#1 2 4 8

`s#1 2 4 8

In [125]:
`s#2 1 3 4

s-fail: s-fail

The sort function `asc` automatically applies the sorted attribute to its result but `til` does not.

In [126]:
asc 2 1 8 4
til 5

`s#1 2 4 8

0 1 2 3 4

When a list with an attribute is amended with `,:` the result is checked to see that the attribute is preserved; if not, it is removed.

In [127]:
L:`s#1 2 3 4 5
L,:6
L
L,:0
L

`s#1 2 3 4 5 6

1 2 3 4 5 6 0

One place to apply the sorted attribute is on the date or time column of a simple time series.

In [129]:
t:([] ti:`s#00:00:00 00:00:01 00:00:03; v:98 98 100.)
meta t

c | t f a
--| -----
ti| v   s
v | f

Applying the sorted attribute to a table unintuitively applies the parted attribute (see next section) to the first column.

In [130]:
meta `s#([] ti:00:00:00 00:00:01 00:00:03; v:98 98 100.)

c | t f a
--| -----
ti| v   p
v | f

Applying the sorted attribute to a dictionary applies the attribute to the key list. Lookup is faster because binary search is used. A side effect of the way binary search is implemented is that **the mapping given by the dictionary is now a step function, meaning that values between successive key values are "filled in."**

In [131]:
d:`s#10 20 30 40 50!`a`b`c`d`e
key d
d 10
d 12
d 15
d 20

`s#10 20 30 40 50

`a

`a

`a

`b

Since a keyed table is a dictionary of tables, applying the sorted attribute to a keyed table applies to the table of keys that, in turn, applies to the initial key column.

In [132]:
meta `s#([k:1 2 3 4] v:`d`c`b`a)

c| t f a
-| -----
k| j   s
v| s

### Unique \``u#`

Applying \`u# essentially causes q to create a hash table, which uses storage and adds overhead. It is best to apply the attribute after the list has been created, if possible. If you have a column that will always have unique values and your large table does not change often, you can get a significant performance speedup with \`u#.

In [132]:
`u#2 1 4 8
`u#2 1 4 8 2

`u#2 1 4 8

u-fail: u-fail

In [133]:
L:`u#2 1 4 8
L,:3
L

`u#2 1 4 8 3

In [134]:
L,:2
L

2 1 4 8 3 2

### Parted \``p#`
The parted attribute \`p# indicates that all common occurrences of any value in a list are adjacent. Viewing the list as a map, the parted attribute says that its graph is a step function with distinct steps.

Historical time-series databases for ticker symbols are usually sorted by time within symbol with the parted attribute applied to the (enumerated) symbol column. This makes queries by ticker fast and guarantees that results for a given symbol are returned in time order.

In [136]:
`p#2 2 2 1 1 4 4 4 4 3 3

`p#2 2 2 1 1 4 4 4 4 3 3

Notice that the rather nasty error does not say `'p-fail`; rather it contains a `'u-fail` error.

In [136]:
`p#2 2 2 1 1 4 4 4 4 3 3 2

u-fail: u-fail

With the exception in the note above, the parted attribute is **not** preserved under any operation on the list, even if the operation preserves the property.

In [137]:
L:`p#1 1 2 3 3
L
L,:3
L

`p#1 1 2 3 3

1 1 2 3 3 3

### Grouped \``g#`

The grouped attribute \`g# differs from other attributes in that it can be applied to any list. It causes q to create and maintain an index – essentially a hash table. Grouped can be applied to a list when no other assumptions about its structure can be made.

The grouped attribute is maintained as operations are performed on the list, which can cause significant processing overhead in addition to the storage required. Best to apply it after the entire list has been created, if possible.

In [140]:
`g#1 2 3 2 3 4 3 4 5 2 3 4 5 4 3 5 6
L:`g#100?100
L
L,:1 1 1 1
L

`g#1 2 3 2 3 4 3 4 5 2 3 4 5 4 3 5 6

`g#56 90 63 28 51 64 68 43 61 11 84 25 31 0 51 29 25 73 0 6 38 72 13 77 64 9 ..

`g#56 90 63 28 51 64 68 43 61 11 84 25 31 0 51 29 25 73 0 6 38 72 13 77 64 9 ..

### Remove Attribute \``#`

The operations \`# removes any attribute that may currently be applied. For example,

In [141]:
L:`s#til 10
L
`#L

`s#0 1 2 3 4 5 6 7 8 9

0 1 2 3 4 5 6 7 8 9