<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Overview" data-toc-modified-id="Overview-0"><span class="toc-item-num">0&nbsp;&nbsp;</span>Overview</a></span></li><li><span><a href="#Inserting-Records" data-toc-modified-id="Inserting-Records-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Inserting Records</a></span><ul class="toc-item"><li><span><a href="#Basic-insert" data-toc-modified-id="Basic-insert-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Basic <code>insert</code></a></span></li><li><span><a href="#Bulk-Columnar-Insert" data-toc-modified-id="Bulk-Columnar-Insert-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Bulk Columnar Insert</a></span></li><li><span><a href="#Insert-into-Empty-Tables" data-toc-modified-id="Insert-into-Empty-Tables-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Insert into Empty Tables</a></span></li><li><span><a href="#Insert-and-Foreign-Keys" data-toc-modified-id="Insert-and-Foreign-Keys-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Insert and Foreign Keys</a></span></li><li><span><a href="#Insert-into-Keyed-Tables" data-toc-modified-id="Insert-into-Keyed-Tables-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Insert into Keyed Tables</a></span></li></ul></li><li><span><a href="#Upsert" data-toc-modified-id="Upsert-2"><span class="toc-item-num">2&nbsp;&nbsp;</span><code>Upsert</code></a></span><ul class="toc-item"><li><span><a href="#Upsert-Replacing-Insert" data-toc-modified-id="Upsert-Replacing-Insert-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span><code>Upsert</code> Replacing <code>Insert</code></a></span></li><li><span><a href="#Upsert-by-Name" data-toc-modified-id="Upsert-by-Name-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Upsert by Name</a></span></li><li><span><a href="#Upsert-on-Keyed-Tables" data-toc-modified-id="Upsert-on-Keyed-Tables-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Upsert on Keyed Tables</a></span></li><li><span><a href="#Upsert-on-Persisted-Tables" data-toc-modified-id="Upsert-on-Persisted-Tables-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Upsert on Persisted Tables</a></span></li></ul></li><li><span><a href="#The-select-Template" data-toc-modified-id="The-select-Template-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>The <code>select</code> Template</a></span><ul class="toc-item"><li><span><a href="#Syntax" data-toc-modified-id="Syntax-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Syntax</a></span></li><li><span><a href="#The-Select-Phrase" data-toc-modified-id="The-Select-Phrase-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>The Select Phrase</a></span><ul class="toc-item"><li><span><a href="#Result-Column-Names" data-toc-modified-id="Result-Column-Names-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Result Column Names</a></span></li><li><span><a href="#The-Virtual-Column-i" data-toc-modified-id="The-Virtual-Column-i-3.2.2"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span>The Virtual Column <code>i</code></a></span></li><li><span><a href="#select-distinct" data-toc-modified-id="select-distinct-3.2.3"><span class="toc-item-num">3.2.3&nbsp;&nbsp;</span><code>select</code> <code>distinct</code></a></span></li><li><span><a href="#select-[]" data-toc-modified-id="select-[]-3.2.4"><span class="toc-item-num">3.2.4&nbsp;&nbsp;</span><code>select []</code></a></span></li><li><span><a href="#Select-on-Nested-Columns" data-toc-modified-id="Select-on-Nested-Columns-3.2.5"><span class="toc-item-num">3.2.5&nbsp;&nbsp;</span>Select on Nested Columns</a></span></li></ul></li><li><span><a href="#Filtering-with-where" data-toc-modified-id="Filtering-with-where-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Filtering with <code>where</code></a></span><ul class="toc-item"><li><span><a href="#Basic-where" data-toc-modified-id="Basic-where-3.3.1"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>Basic where</a></span></li><li><span><a href="#The-Virtual-Column-i-in-where" data-toc-modified-id="The-Virtual-Column-i-in-where-3.3.2"><span class="toc-item-num">3.3.2&nbsp;&nbsp;</span>The Virtual Column <code>i</code> in <code>where</code></a></span></li><li><span><a href="#Multiple-Where-Subphrases" data-toc-modified-id="Multiple-Where-Subphrases-3.3.3"><span class="toc-item-num">3.3.3&nbsp;&nbsp;</span>Multiple Where Subphrases</a></span></li><li><span><a href="#Nested-Columns-in-Where" data-toc-modified-id="Nested-Columns-in-Where-3.3.4"><span class="toc-item-num">3.3.4&nbsp;&nbsp;</span>Nested Columns in Where</a></span></li><li><span><a href="#fby-i-Where" data-toc-modified-id="fby-i-Where-3.3.5"><span class="toc-item-num">3.3.5&nbsp;&nbsp;</span><code>fby</code> i Where</a></span></li></ul></li><li><span><a href="#Grouping-and-Aggregation" data-toc-modified-id="Grouping-and-Aggregation-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Grouping and Aggregation</a></span><ul class="toc-item"><li><span><a href="#Aggregation-without-Grouping" data-toc-modified-id="Aggregation-without-Grouping-3.4.1"><span class="toc-item-num">3.4.1&nbsp;&nbsp;</span>Aggregation without Grouping</a></span></li><li><span><a href="#Grouping-without-Aggregation" data-toc-modified-id="Grouping-without-Aggregation-3.4.2"><span class="toc-item-num">3.4.2&nbsp;&nbsp;</span>Grouping without Aggregation</a></span></li><li><span><a href="#Grouping-with-Aggregation" data-toc-modified-id="Grouping-with-Aggregation-3.4.3"><span class="toc-item-num">3.4.3&nbsp;&nbsp;</span>Grouping with Aggregation</a></span></li></ul></li></ul></li><li><span><a href="#The-exec-Template" data-toc-modified-id="The-exec-Template-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>The <code>exec</code> Template</a></span></li><li><span><a href="#The-update-Template" data-toc-modified-id="The-update-Template-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>The <code>update</code> Template</a></span><ul class="toc-item"><li><span><a href="#Basic-update" data-toc-modified-id="Basic-update-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Basic update</a></span></li><li><span><a href="#update-by" data-toc-modified-id="update-by-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>update-by</a></span></li></ul></li><li><span><a href="#The-delete-Template" data-toc-modified-id="The-delete-Template-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>The <code>delete</code> Template</a></span></li><li><span><a href="#Sorting" data-toc-modified-id="Sorting-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Sorting</a></span><ul class="toc-item"><li><span><a href="#xasc" data-toc-modified-id="xasc-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span><code>xasc</code></a></span></li><li><span><a href="#xdesc" data-toc-modified-id="xdesc-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span><code>xdesc</code></a></span></li><li><span><a href="#Mixed-Sort" data-toc-modified-id="Mixed-Sort-7.3"><span class="toc-item-num">7.3&nbsp;&nbsp;</span>Mixed Sort</a></span></li></ul></li><li><span><a href="#Renaming-and-Rearranging-Columns" data-toc-modified-id="Renaming-and-Rearranging-Columns-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Renaming and Rearranging Columns</a></span><ul class="toc-item"><li><span><a href="#xcol" data-toc-modified-id="xcol-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span><code>xcol</code></a></span></li><li><span><a href="#xcols" data-toc-modified-id="xcols-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span><code>xcols</code></a></span></li></ul></li><li><span><a href="#Joins" data-toc-modified-id="Joins-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Joins</a></span><ul class="toc-item"><li><span><a href="#Implicit-Join" data-toc-modified-id="Implicit-Join-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span>Implicit Join</a></span></li><li><span><a href="#Ad-hoc-Left-Join-(lj)" data-toc-modified-id="Ad-hoc-Left-Join-(lj)-9.2"><span class="toc-item-num">9.2&nbsp;&nbsp;</span>Ad hoc Left Join (<code>lj</code>)</a></span></li><li><span><a href="#Column-Lookup" data-toc-modified-id="Column-Lookup-9.3"><span class="toc-item-num">9.3&nbsp;&nbsp;</span>Column Lookup</a></span></li><li><span><a href="#Ad-Hoc-Inner-Join-(ij)" data-toc-modified-id="Ad-Hoc-Inner-Join-(ij)-9.4"><span class="toc-item-num">9.4&nbsp;&nbsp;</span>Ad Hoc Inner Join (<code>ij</code>)</a></span></li><li><span><a href="#Equijoin-ej" data-toc-modified-id="Equijoin-ej-9.5"><span class="toc-item-num">9.5&nbsp;&nbsp;</span>Equijoin <code>ej</code></a></span></li><li><span><a href="#Plug-Join-(pj)" data-toc-modified-id="Plug-Join-(pj)-9.6"><span class="toc-item-num">9.6&nbsp;&nbsp;</span>Plug Join (<code>pj</code>)</a></span></li><li><span><a href="#Union-Join" data-toc-modified-id="Union-Join-9.7"><span class="toc-item-num">9.7&nbsp;&nbsp;</span>Union Join</a></span></li><li><span><a href="#As-of-Joins" data-toc-modified-id="As-of-Joins-9.8"><span class="toc-item-num">9.8&nbsp;&nbsp;</span>As-of Joins</a></span><ul class="toc-item"><li><span><a href="#Window-Join-wj-!!" data-toc-modified-id="Window-Join-wj-!!-9.8.1"><span class="toc-item-num">9.8.1&nbsp;&nbsp;</span>Window Join <code>wj</code> !!</a></span></li></ul></li></ul></li><li><span><a href="#Parameterized-Queries" data-toc-modified-id="Parameterized-Queries-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Parameterized Queries</a></span></li><li><span><a href="#Views" data-toc-modified-id="Views-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Views</a></span></li><li><span><a href="#Functional-Forms" data-toc-modified-id="Functional-Forms-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>Functional Forms</a></span><ul class="toc-item"><li><span><a href="#Functional-select" data-toc-modified-id="Functional-select-12.1"><span class="toc-item-num">12.1&nbsp;&nbsp;</span>Functional select</a></span></li><li><span><a href="#Functional-exec" data-toc-modified-id="Functional-exec-12.2"><span class="toc-item-num">12.2&nbsp;&nbsp;</span>Functional <code>exec</code></a></span></li><li><span><a href="#Functional-update" data-toc-modified-id="Functional-update-12.3"><span class="toc-item-num">12.3&nbsp;&nbsp;</span>Functional <code>update</code></a></span></li><li><span><a href="#Functional-delete" data-toc-modified-id="Functional-delete-12.4"><span class="toc-item-num">12.4&nbsp;&nbsp;</span>Functional <code>delete</code></a></span></li></ul></li><li><span><a href="#Examples" data-toc-modified-id="Examples-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>Examples</a></span><ul class="toc-item"><li><span><a href="#The-trades-Table" data-toc-modified-id="The-trades-Table-13.1"><span class="toc-item-num">13.1&nbsp;&nbsp;</span>The trades Table</a></span></li><li><span><a href="#The-instrument-Table" data-toc-modified-id="The-instrument-Table-13.2"><span class="toc-item-num">13.2&nbsp;&nbsp;</span>The instrument Table</a></span></li><li><span><a href="#Basic-Queries" data-toc-modified-id="Basic-Queries-13.3"><span class="toc-item-num">13.3&nbsp;&nbsp;</span>Basic Queries</a></span></li><li><span><a href="#Meaty-Queries" data-toc-modified-id="Meaty-Queries-13.4"><span class="toc-item-num">13.4&nbsp;&nbsp;</span>Meaty Queries</a></span></li><li><span><a href="#Excursion---Pivot-Table" data-toc-modified-id="Excursion---Pivot-Table-13.5"><span class="toc-item-num">13.5&nbsp;&nbsp;</span>Excursion - Pivot Table</a></span></li></ul></li></ul></div>

## Overview

Difference between SQL and q:
1. q table has ordered rows and columns. This is particularly useful when dealing with the situation where records arrive in time order. Appending them to a table ensures that they enter – and stay – in order. Subsequent select operations always retrieve the records in order without any need for sorting.
2. q table is stored physically as a collection of column lists. This means that operations on column data are vector operations. Moreover, for simple column lists, atomic, aggregate and uniform functions applied to columns are especially simple and fast since they reduce to direct memory addressing.
3. q-sql provides upsert semantics. Recall that upsert semantics on a dictionary mean that when a key-value pair is applied with `,` and the key is present, the value is updated; otherwise the pair is inserted. In the context of tables and keyed tables, which are both dictionaries, this has far-reaching consequences for many common operations, including joins. Upsert semantics permeate q-sql.

In [72]:
s:([s:`s1`s2`s3`s4`s5]
 name:`smith`jones`blake`clark`adams;
 status:20 10 30 20 30;
 city:`london`paris`paris`london`athens)

p:([p:`p1`p2`p3`p4`p5`p6]
 name:`nut`bolt`screw`screw`cam`cog;
 color:`red`green`blue`red`blue`red;
 weight:12 17 17 14 12 19;
 city:`london`paris`rome`london`paris`london)

sp:([]
 s:`s$`s1`s1`s1`s1`s4`s1`s2`s2`s3`s4`s4`s4;	/ fkey
 p:`p$`p1`p2`p3`p4`p5`p6`p1`p2`p2`p2`p4`p5;	/ fkey
 qty:300 200 400 200 100 100 300 400 200 200 300 400)

In [2]:
meta s
meta p
meta sp

c     | t f a
------| -----
s     | s
name  | s
status| j
city  | s

c     | t f a
------| -----
p     | s
name  | s
color | s
weight| j
city  | s

c  | t f a
---| -----
s  | s s
p  | s p
qty| j

## Inserting Records
**The upsert function is superior to insert and is to be preferred. We include insert for nostalgia only.**

**Appending using Assign**

Since a table is (logically) a list of records, it is possible to append records in place using `,:`. Type checking on field values is performed.

In [2]:
t:([] name:`symbol$(); iq:`int$())
t,:`name`iq!(`Beeblebrox; 42)
t,:`name`iq!(`Dent; 98.0)

type: type

In [3]:
t,:(`Prefect; 126)

In [4]:
t,:(`Prefect; 126)
t,:(`Prefect; 126)
t

name       iq
--------------
Beeblebrox 42
Prefect    126
Prefect    126
Prefect    126

Assign has upsert semantics on keyed tables, so repeated operation on the same key will retain only the last values.

In [5]:
kt:([eid:`long$()] name:`symbol$(); iq:`long$())
kt,:(1002; `Dent; 98)
kt,:(1002; `Dent; 101)
kt

eid | name iq
----| --------
1002| Dent 101

### Basic `insert`
Those who prefer the familiarity of SQL can append records to an existing global table using the binary function insert whose left operand is a symbol containing the name of a global table (target) and whose right argument is a record, or list of records, conforming to the target. The result is a list of integers representing the row number(s) of the appended record(s).


Since insert essentially reduces to amend in place, **fields are type checked**.
- If the target column is simple, the type must match exactly.
- If the target column is an untyped empty list, the result will take the type of the field in the initial insert.

In [6]:
t:([] name:`Dent`Beeblebrox`Prefect; iq:42 98 126)
`t insert (`name`iq)!(`Slartibartfast; 134)
`t insert (`Marvin; 150)
t

,3

,4

name           iq
------------------
Dent           42
Beeblebrox     98
Prefect        126
Slartibartfast 134
Marvin         150

In [7]:
`t insert (`Marvin; 150)
`t insert (`Marvin; 150)
t

,5

,6

name           iq
------------------
Dent           42
Beeblebrox     98
Prefect        126
Slartibartfast 134
Marvin         150
Marvin         150
Marvin         150

Since a list of conforming records is a table, **inserting a list of records is the same as inserting a table**. Observe that use of `3#` to truncate the table.

In [8]:
t:3#t
`t insert (`name`iq!(`Slartibartfast; 134); (`name`iq!(`Marvin; 200)))
t
t:3#t
`t insert ([] name:`Slartibartfast`Marvin; iq:134 200)
t

3 4

name           iq
------------------
Dent           42
Beeblebrox     98
Prefect        126
Slartibartfast 134
Marvin         200

3 4

name           iq
------------------
Dent           42
Beeblebrox     98
Prefect        126
Slartibartfast 134
Marvin         200

You can also use `insert` in **prefix form**, possibly with the table name projected. For example, the previous insert can be written as,

In [9]:
insert[`t; (`Slartibartfast; 134)]
insert[`t;] (`Slartibartfast; 134)

,5

,6

### Bulk Columnar Insert

It is also possible to bulk insert naked field values but there is a twist. To bulk insert naked field values, you provide a list of **columns** not a list of rows.

In [9]:
t:([] name:`Dent`Beeblebrox; iq:98 42)
`t insert (`Prefect`Marvin; 126 200)
`t insert ((`Prefect; 126); (`Marvin; 200))

2 3

type: type

### Insert into Empty Tables

In [10]:
t:([] name:(); iq:())
`t insert (`Dent;98)
meta t

,0

c   | t f a
----| -----
name| s
iq  | j

In [10]:
t:([] name:(); iq:())
`t insert (`Dent;98.0)
`t insert (`Beeblebrox; 42)

,0

type: type

**Recommendation**

It is good practice to type all columns in an empty table. This will ensure that incorrect types are rejected and correct ones accepted.

In [10]:
t:([] name:`symbol$(); iq:`int$())
`t insert (`Dent;98.0)
`t insert (`Beeblebrox; 42)

type: type

It is also possible to insert a **list** of conforming records (i.e., a table) into a table that does not exist. This is the same as assigning the table to a variable of the specified name.

In [11]:
`tnew insert enlist `c1`c2!(`a; 10)
tnew

,0

c1 c2
-----
a  10

### Insert and Foreign Keys

enumeration is a form of cast.

In [11]:
kt:([eid:1001 1002 1003] name:`Dent`Beeblebrox`Prefect; iq:98 42 126)
tdetails:([] eid:`kt$1003 1002 1001 1002 1001; sc:126 36 92 39 98)
`tdetails insert (1002;42)
`tdetails insert (1042;150) / foreign-key value 1042 that does not appear in kt.

,5

cast: cast

### Insert into Keyed Tables

You can use `insert` to append data to a keyed table, but this probably does not have the desired semantics. Specifically, you can insert into a keyed table only if the key value is **not** already in the table. For this and other reasons, `upsert` should normally be preferred over `insert`.

Since a keyed table is a dictionary, to use `insert` we should properly provide a dictionary entry comprising a key record and a value record.

In [11]:
kt:([eid:1001 1002] name:`Dent`Beeblebrox; iq:98 42)
`kt insert (1005; `Marvin; 200)
`kt insert (1004;`Slartibartfast;158)
`kt insert (1004;`Marvin;200)

,2

,3

insert: insert

**The records in the keyed table are stored in insert order rather than key order.**

In [12]:
kt

eid | name           iq
----| ------------------
1001| Dent           98
1002| Beeblebrox     42
1005| Marvin         200
1004| Slartibartfast 158

## `Upsert`

###  `Upsert` Replacing `Insert`

In [13]:
t:([] name:`Dent`Beeblebrox`Prefect; iq:42 98 126)
`t upsert (`name`iq)!(`Slartibartfast; 134)
`t upsert (`Marvin; 150)
`t upsert ([] name:`Slartibartfast`Marvin; iq:134 200)
t:3#t
upsert[`t;(`Slartibartfast; 134)]

`t

`t

`t

`t

**Tip**

To bulk upsert naked field values, use **rows** instead of columns.

In [14]:
t upsert ((`Prefect; 126); (`Marvin; 200))

name           iq
------------------
Dent           42
Beeblebrox     98
Prefect        126
Slartibartfast 134
Prefect        126
Marvin         200

### Upsert by Name

A limitation of `insert` is that it uses **pass-by-name**, so it can only operate against global tables. In contrast, `upsert` supports both **pass-by-name and pass-by-value**. Thus it can be used with anonymous or local tables.

In [15]:
([] c1:`a`b; c2:10 20) upsert (`c; 30)
f:{t:([] c1:`a`b; c2:10 20); t upsert x}
f (`c; 30)

c1 c2
-----
a  10
b  20
c  30

c1 c2
-----
a  10
b  20
c  30

### Upsert on Keyed Tables

Update "duplicated" keys

In [16]:
`kt upsert (1001; `Beeblebrox; 42)
`kt upsert (1001; `Beeblebrox; 42)
kt

`kt

`kt

eid | name           iq
----| ------------------
1001| Beeblebrox     42
1002| Beeblebrox     42
1005| Marvin         200
1004| Slartibartfast 158

### Upsert on Persisted Tables

Upserting to a splayed table does **not** read the persisted image into memory; rather, it appends to the ends of the column files. This allows incremental creation of large splayed (or partitioned) tables by upserting chunks that comfortably fit into memory.

**Upserting to a table in either form will destroy any attributes on table columns. You will have to reapply them.**

## The `select` Template

**The result of `select` is always a table.**

### Syntax

The `select` template has the following form, where elements enclosed in matching angle brackets `<...>` are optional.

`select` $<p_s>$ <`by` $p_b$> `from` $t_{exp}$ <`where` $p_w$>

The `select` and `from` keywords are required; omission or mistyping either results in an error. The table expression $t_{exp}$, which is any q expression whose value is a table or keyed table, is also required. The remaining elements $p_s$, $p_b$ and $p_w$ are optional. They are called the Select, the By and the Where phrases, respectively.

**Tip**
If `where` is present and $t_{exp}$ is itself a select expression, the inner expression should be enclosed in parentheses to avoid confusion in the binding of the Where phrase.

**Commas**

**The commas separating the subphrases are separators**, so it is not necessary to enclose a subphrase in parentheses unless the expression contains the Join operator `,`. Any expression containing the operator , within any template phrase must be **enclosed in parentheses or it will be interpreted as the separator**. Forgetting this is both easy and painful.

The order of evaluation of the `select` template is:
1. From expression $t_{exp}$
2. Where phrase $p_w$
3. By phrase $p_b$
4. Select phrase $p_s$

### The Select Phrase

In [17]:
t:([] c1:`a`b`c; c2:10 20 30; c3:1.1 2.2 3.3)
t ~ select from t

1b

In [18]:
select c1, c3 from t

c1 c3
------
a  1.1
b  2.2
c  3.3

#### Result Column Names

- The colon used to specify a name is **not** assignment; it is simply part of the syntax of the template.
- Just as with the use of colon in a variable assignment, the column name is part of the syntactic sugar. It is not a symbol and **cannot** be parameterized. Use functional form if you need this – see §9.12.
- Unlike in SQL, columns in the Select phrase do not actually exist until the final result table is returned. Thus a computed column **cannot** be used in other column expressions.

If you do not provide a name for a computed column, q determines one.

- Normally the name is taken from the left-most term in the column expression.
- When q cannot determine a name it uses x.
- If q’s chosen name duplicates a previously determined column name, **it will suffix it with 1, 2**, etc. to make it unique. Recall that columns are sequenced from left to right.

In [19]:
select c1, res:2*c2 from t

c1 res
------
a  20
b  40
c  60

In [20]:
select c1, c1, 2*c2, c2+c3, string c3 from t

c1 c11 x  c2   c3
--------------------
a  a   20 11.1 "1.1"
b  b   40 22.2 "2.2"
c  c   60 33.3 "3.3"

#### The Virtual Column `i`

A virtual column `i` represents the offset of each record in the table – i.e., `i` is the row number. It is implicitly available in the Select phrase.

In [21]:
select i, c1 from t

x c1
----
0 a
1 b
2 c

**Tip**

You can name the result column `ix` to avoid confusion with the always-present virtual column `i`

In [22]:
select ix:i, c1 from t

ix c1
-----
0  a
1  b
2  c

#### `select` `distinct`

In [23]:
select distinct from ([] c1:`a`b`a; c2:10 20 10)

c1 c2
-----
a  10
b  20

#### `select []`

You can return the first or last n records in a select by using function parameter syntax after `select`. A positive integer parameter returns the first records, a negative parameter the last.

In [24]:
select[2] from s where city<>`athens
select[-1] from s where city<>`athens

s | name  status city
--| -------------------
s1| smith 20     london
s2| jones 10     paris

s | name  status city
--| -------------------
s4| clark 20     london

This syntax is extended to `select[n m]` where `n` is the starting row number and `m` is the number of rows.

In [25]:
select[1 2] from s where city<>`athens

s | name  status city
--| ------------------
s2| jones 10     paris
s3| blake 30     paris

One final extension of the syntax specifies a sorting criterion inside the brackets. For ascending sort, place `<` before a column name and for descending sort use `>`

In [26]:
select[>name] from s where city<>`athens
select[<city] from s where city<>`athens

s | name  status city
--| -------------------
s1| smith 20     london
s2| jones 10     paris
s4| clark 20     london
s3| blake 30     paris

s | name  status city
--| -------------------
s1| smith 20     london
s4| clark 20     london
s2| jones 10     paris
s3| blake 30     paris

You can combine the two syntax extensions by separating them with a semicolon.

**The items inside the brackets must be in this order.**

In [27]:
select[2; >name] from s where city<>`athens

s | name  status city
--| -------------------
s1| smith 20     london
s2| jones 10     paris

#### Select on Nested Columns

In [28]:
show tnest:([] c1:`a`b`c; c2:(10 20 30; enlist 40; 50 60))

c1 c2
-----------
a  10 20 30
b  ,40
c  50 60

We **cannot** apply an aggregate or uniform operation straight to c2 since the fields do not conform.

In [28]:
select avg c2 from tnest

length: length

We **can** apply an **aggregate or uniform function** to each field of c2 in tnest.

In [29]:
select avg each c2 from tnest

c2
--
20
40
55

Similarly we can use Each to compute a weighted average using two columns.

In [30]:
update c3:(1.1 2.2 3.3; enlist 4.4; 5.5 6.6) from `tnest
tnest

`tnest

c1 c2       c3
-----------------------
a  10 20 30 1.1 2.2 3.3
b  ,40      ,4.4
c  50 60    5.5 6.6

In [31]:
select wtavg:c2 wavg' c3 from tnest

wtavg
--------
2.566667
4.4
6.1

###  Filtering with `where`

#### Basic where

In [32]:
t:([] c1:`a`b`c; c2:10 20 30; c3:1.1 2.2 3.3)
t where t[`c2]>15
select from t where c2>15

c1 c2 c3
---------
b  20 2.2
c  30 3.3

c1 c2 c3
---------
b  20 2.2
c  30 3.3

In [33]:
select from t where 011b

c1 c2 c3
---------
b  20 2.2
c  30 3.3

#### The Virtual Column `i` in `where`

In [34]:
tbig:100#t
select from tbig where i within 50 99

c1 c2 c3
---------
c  30 3.3
a  10 1.1
b  20 2.2
c  30 3.3
a  10 1.1
b  20 2.2
c  30 3.3
a  10 1.1
b  20 2.2
c  30 3.3
a  10 1.1
b  20 2.2
c  30 3.3
a  10 1.1
b  20 2.2
c  30 3.3
a  10 1.1
b  20 2.2
c  30 3.3
a  10 1.1
..

To use this construct with non-literal values as the endpoints, you **must** use general-list notation, since simple-list notation cannot be used with variables.

In [35]:
s:50
e:99
select from tbig where i within (s;e)

c1 c2 c3
---------
c  30 3.3
a  10 1.1
b  20 2.2
c  30 3.3
a  10 1.1
b  20 2.2
c  30 3.3
a  10 1.1
b  20 2.2
c  30 3.3
a  10 1.1
b  20 2.2
c  30 3.3
a  10 1.1
b  20 2.2
c  30 3.3
a  10 1.1
b  20 2.2
c  30 3.3
a  10 1.1
..

#### Multiple Where Subphrases

**Place the most limiting where subphrase first, followed by others in decreasing strictness.**

In [36]:
t:([] c1:00:00:00.000+til 1000000;c2:1000000?`a`b;c3:1000000?100.)
\t select from t where c1 within 00:00:01.000 00:00:01.999, c2=`a

0

In [37]:
\t select from t where c2=`a, c1 within 00:00:01.000 00:00:01.999

2

#### Nested Columns in Where


Nested columns generally require iterators, and the Where phrase is no different. A common mistake made by qbies is, when trying to find a specific string in a column of strings, they forget that strings are not first-class in q.

In [37]:
t:([] f:1.1 2.2 3.3; s:("abc";enlist "d";"ef"))
select from t where s="ef" /atomic equality between a simple list and a nested list

length: length

In [38]:
select from t where s~"ef" /if the entire column matches the specified string

f s
---

In [39]:
select from t where s~\:"ef" /tests the specified string for match against each string in the column.

f   s
--------
3.3 "ef"

For matching strings, the `like` operator is **more efficient.**

In [40]:
select from t where s like "ef"

f   s
--------
3.3 "ef"

#### `fby` i Where

form $(f_{agg}; expr_{col})$ `fby` c

The left operand is a two-item list comprising an aggregate function $f_{agg}$ and a column expression $expr_{col}$ on which the function will be applied. The right operand c is the column to be grouped.

In [41]:
select max weight by city from p

city  | weight
------| ------
london| 19
paris | 17
rome  | 17

In [42]:
select from p where weight=(max;weight) fby city

p | name  color weight city
--| -------------------------
p2| bolt  green 17     paris
p3| screw blue  17     rome
p6| cog   red   19     london

In [43]:
select from p where weight=(max;weight) fby city,color=`blue

p | name  color weight city
--| -----------------------
p3| screw blue  17     rome

To group on multiple columns, **encapsulate them in an anonymous table** in the right operand of `fby`.

In [44]:
t:([]sym:`IBM`IBM`MSFT`IBM`MSFT;
    ex:`N`O`N`N`N;
    time:12:10:00 12:30:00 12:45:00 12:50:00 13:30:00;
    price:82.1 81.95 23.45 82.05 23.40)
select from t where price=(max;price) fby ([]sym;ex)

sym  ex time     price
----------------------
IBM  N  12:10:00 82.1
IBM  O  12:30:00 81.95
MSFT N  12:45:00 23.45

### Grouping and Aggregation

In contrast to SQL, where grouping and aggregation are performed together, in q-sql they are independent.

#### Aggregation without Grouping

In [45]:
select total:sum qty, mean:avg qty from sp

total mean
--------------
3100  258.3333

#### Grouping without Aggregation

Grouping without aggregation is the most common way qbies unintentionally create nested columns. Nested columns are slower, more cumbersome to use (they require a heavy dose of iterators) and are usually unnecessary. And you can’t just cast a nested column to a simple one; you must apply an aggregate or some other operation that flattens a list.

In [46]:
t:([] c1:`a`b`a`b`c; c2:10 20 30 40 50)
t[`c2] group t[`c1]
select c2 by c1 from t

a| 10 30
b| 20 40
c| ,50

c1| c2
--| -----
a | 10 30
b | 20 40
c | ,50

Observe that `ungroup` can be used to reverse the nested result of grouping without aggregation. It is not quite an inverse since it returns the original records ordered on the by column(s).

In [47]:
ungroup select c2 by c1 from t

c1 c2
-----
a  10
a  30
b  20
b  40
c  50

In [48]:
`p xgroup sp

p | s          qty
--| --------------------------
p1| `s!0 1     300 300
p2| `s!0 1 2 3 200 400 200 200
p3| `s!,0      ,400
p4| `s!0 3     200 300
p5| `s!3 3     100 400
p6| `s!,0      ,100

In [49]:
ungroup `p xgroup sp

p  s qty
--------
p1 0 300
p1 1 300
p2 0 200
p2 1 400
p2 2 200
p2 3 200
p3 0 400
p4 0 200
p4 3 300
p5 3 100
p5 3 400
p6 0 100

#### Grouping with Aggregation

In [50]:
select sum c2 by c1 from t
t:([] desk:`a`b`a`b`a`b; acct:`1`2`3`4`1`4; pnl:1.1 -2.2 3.3 4.4 5.5 -.5)
select ct:count desk, sum pnl by desk,acct from t

c1| c2
--| --
a | 40
b | 60
c | 50

desk acct| ct pnl
---------| -------
a    1   | 2  6.6
a    3   | 1  3.3
b    2   | 1  -2.2
b    4   | 2  3.9

In [51]:
t:([] c1:00:00:00.000+til 1000000;c2:1000000?`a`b;c3:1000000?100.)
select avg c3 by 100 xbar c1, c2 from t

c1           c2| c3
---------------| --------
00:00:00.000 a | 49.44874
00:00:00.000 b | 54.21254
00:00:00.100 a | 45.59306
00:00:00.100 b | 40.59436
00:00:00.200 a | 45.99148
00:00:00.200 b | 46.22362
00:00:00.300 a | 50.10055
00:00:00.300 b | 47.5136
00:00:00.400 a | 53.94542
00:00:00.400 b | 50.41118
00:00:00.500 a | 54.22142
00:00:00.500 b | 46.36771
00:00:00.600 a | 54.71282
00:00:00.600 b | 51.86255
00:00:00.700 a | 49.46785
00:00:00.700 b | 47.42026
00:00:00.800 a | 51.66804
00:00:00.800 b | 50.77955
00:00:00.900 a | 45.44763
00:00:00.900 b | 61.34752
..

**Tip**: In an unexpected special case of implicit grouping with aggregation, specifying a By phrase together with empty Select phrase is equivalent to applying last to all columns.

In [52]:
t:([] desk:`a`b`a`b`a`b; acct:`1`2`3`4`1`4; pnl:1.1 -2.2 3.3 4.4 5.5 -.5)
select by desk from t

desk| acct pnl
----| ---------
a   | 1    5.5
b   | 4    -0.5

## The `exec` Template

The syntax of `exec` is identical to that of `select`

`exec` $<p_s>$ <`by` $p_b$> `from` $t_{exp}$ <`where` $p_w$>


Whereas `select` always returns a table, the result type of `exec` depends on the number of columns in its Select phrase. **One column yields a list; more than one column yields a dictionary.**

In [52]:
t:([] name:`a`b`c`d`e; state:`NY`FL`OH`NY`HI)
exec name, distinct state from t
select name, distinct state from t

name | `a`b`c`d`e
state| `NY`FL`OH`HI

length: length

A common use of `exec` is when there is only one column in the aggregate phrase and no By phrase. The result is the computed column list devoid of other structure – i.e., not a dictionary or table. **This is useful to extract a column dynamically.**

In [53]:
select name from t
exec name from t

name
----
a
b
c
d
e

`a`b`c`d`e

In [54]:
exec name from t where state in `NY`HI

`a`d`e

## The `update` Template

### Basic update

syntax is identical to `select`

`udpate` $<p_s>$ <`by` $p_b$> `from` $t_{exp}$ <`where` $p_w$>

In [55]:
t:([] c1:`a`b`c; c2:10 20 30)
update c1:`x`y`z from t
update c3:`x`y`z from t

c1 c2
-----
x  10
y  20
z  30

c1 c2 c3
--------
a  10 x
b  20 y
c  30 z

The **implicit naming conventions** are the same as in select so you can omit the name and colon for existing columns in many cases.

In [56]:
(update c2:c2+100 from t)~update c2+100 from t

1b

In the examples above, the table was passed by value and so the original was not modified. To modify the table in place, **pass it by name.**

In [57]:
t:([] c1:`a`b`c; c2:10 20 30)
update c1:`x`y`z from `t
t

`t

c1 c2
-----
x  10
y  20
z  30

Add a “constant” column by taking advantage of the fact that scalars are extended to match vectors. This is **not** a default value for the column in subsequent records.

In [58]:
update c3:42 from t

c1 c2 c3
--------
x  10 42
y  20 42
z  30 42

Often you will `apply` update with a `where` phrase that limits the scope of the modification.

In [59]:
t:([] c1:`a`b`c; c2:10 20 30)
update c2:c2+100 from t where c1<>`a

c1 c2
------
a  10
b  120
c  130

If you add a new column in `update` with a Where phrase, the fields in the **non-selected rows will have the null value of the appropriate type.**

In [60]:
update c3:1b from t where c2>15

c1 c2 c3
--------
a  10 0
b  20 1
c  30 1

You can use any q expression to the right of the colon providing **the size and type match the targeted location.**

In [60]:
update c2:42 43 from t where c2>15
update c2:42 43 44 from t where c2>15 /`length
update c2:42.0 43 from t where c2>15 /`type

c1 c2
-----
a  10
b  42
c  43

length: length

### update-by

When the By phrase is present, the update operation is performed along groups. This is most useful with aggregate and uniform functions. For an aggregate function, the entire group gets the value of the aggregation on the group.

In [61]:
update avg weight by city from p

p | name  color weight city
--| -------------------------
p1| nut   red   15     london
p2| bolt  green 14.5   paris
p3| screw blue  17     rome
p4| screw red   15     london
p5| cam   blue  14.5   paris
p6| cog   red   15     london

A uniform function is applied along the group in place.

In [62]:
update cumqty:sums qty by s from sp

s p  qty cumqty
---------------
0 p1 300 300
0 p2 200 500
0 p3 400 900
0 p4 200 1100
3 p5 100 100
0 p6 100 1200
1 p1 300 300
1 p2 400 700
2 p2 200 200
3 p2 200 300
3 p4 300 600
3 p5 400 1000

## The `delete` Template

`delete`: allows either rows or columns to be deleted. Its syntax is a simplified form of `select`, with the restriction that either $p_{cols}$ or $p_w$ can be present but not both.

`delete` $<p_{cols}>$ `from` $t_{exp}$ <`where` $p_w$>

If $p_{cols}$ is present as a comma-separated list of columns, the result is $t_{exp}$ with the specified columns removed. If $p_w$ is present, the result is $t_{exp}$ after records meeting the criteria of $p_w$ are removed.  We **cannot** remove rows and columns simultaneously.

In [63]:
t:([] c1:`a`b`c; c2:10 20 30)
delete c1 from t
delete from `t where c2>15
t

c2
--
10
20
30

`t

c1 c2
-----
a  10

## Sorting

### `xasc`

The binary `xasc` takes a **scalar, or list of, symbolic column name(s)** as its left operand and **a table or table name** as its right operand. It returns the records of the table sorted ascending on the specified column(s). The sort column list is specified in major-to-minor sort order.

In [64]:
t:([] c1:`a`b`c`a; c2:20 10 40 30)
`c2 xasc t

c1 c2
-----
b  10
a  20
a  30
c  40

In [65]:
`c1`c2 xasc t

c1 c2
-----
a  20
a  30
b  10
c  40

### `xdesc`

### Mixed Sort

In [66]:
`c1 xasc `c2 xdesc t

c1 c2
-----
a  30
a  20
b  10
c  40

## Renaming and Rearranging Columns

In [67]:
t:([] c1:`a`b`c; c2:10 20 30; c3:1.1 2.2 3.3)

### `xcol`

The binary `xcol` takes a scalar, or list of, symbolic column name(s) as its left operand (names) and a table or keyed table (source) as its right operand. The columns in names must appear in source. The result is a table obtained by renaming the left-most columns of source according to names.

**no pass-by-name version of `xcol`**. To modify the source, reassign it.

In [68]:
`new1`new2 xcol t

new1 new2 c3
-------------
a    10   1.1
b    20   2.2
c    30   3.3

### `xcols`

The binary `xcols` takes a scalar, or list of, symbolic column name(s) as its left argument (names) and a table (source) as its right argument. The output is the result of reordering the columns in names so that those in names occur at the beginning – i.e., left-most in the display. Columns not specified in names are left in original order at the end – i.e., right-most.

Notes:

- The source operand **cannot** be a keyed table.
- There is no pass-by-name version of `xcols`. To modify the source, you must reassign it.

In [69]:
`c3 xcols t
`c3`c2 xcols t
t

c3  c1 c2
---------
1.1 a  10
2.2 b  20
3.3 c  30

c3  c2 c1
---------
1.1 10 a
2.2 20 b
3.3 30 c

c1 c2 c3
---------
a  10 1.1
b  20 2.2
c  30 3.3

## Joins

### Implicit Join

In [73]:
select sname:s.name, qty from sp

sname qty
---------
smith 300
smith 200
smith 400
smith 200
clark 100
smith 100
jones 300
jones 400
blake 200
clark 200
clark 300
clark 400

In [74]:
select sname:s.name, pname:p.name, qty from sp

sname pname qty
---------------
smith nut   300
smith bolt  200
smith screw 400
smith screw 200
clark cam   100
smith cog   100
jones nut   300
jones bolt  400
blake bolt  200
clark bolt  200
clark screw 300
clark cam   400

In [75]:
emaster:([eid:1001 1002 1003 1004 1005] currency:`gbp`eur`eur`gbp`eur)
update eid:`emaster$1001 1002 1005 1004 1003 from `s
select s.name, qty, s.eid.currency from sp

`s

name  qty currency
------------------
smith 300 gbp
smith 200 gbp
smith 400 gbp
smith 200 gbp
clark 100 gbp
smith 100 gbp
jones 300 eur
jones 400 eur
blake 200 eur
clark 200 gbp
clark 300 gbp
clark 400 gbp

In [76]:
s

s | name  status city   eid
--| ------------------------
s1| smith 20     london 1001
s2| jones 10     paris  1002
s3| blake 30     paris  1005
s4| clark 20     london 1004
s5| adams 30     athens 1003

### Ad hoc Left Join (`lj`)

In [77]:
t:([] k:1 2 3 4; c:10 20 30 40)
kt:([k:2 3 4 5]; v:200 300 400 500)
t lj kt

k c  v
--------
1 10
2 20 200
3 30 300
4 40 400

In [78]:
kt:([k:1 2 3 4 5]; v1:10 20 30 40 50; v2:1.1 2.2 3.3 4.4 5.5)
tf:([] k:`kt$1 2 3 4; c:10 20 30 40)
(tf lj kt)~select k,c,k.v1,k.v2 from tf

1b

**When the tables source and target have duplicate non-key columns, the operation has upsert semantics.**

In [79]:
t:([] k:1 2 3 4; v:10 20 30 40)
kt:([k:2 3 4 5]; v:200 300 400 500)
t lj kt

k v
-----
1 10
2 200
3 300
4 400

In [80]:
kt1:([k:1 2 3 4]; v:10 0N 30 40)
kt:([k:2 3 4 5]; v:200 300 400 500)
kt1 lj kt

k| v
-| ---
1| 10
2| 200
3| 300
4| 400

### Column Lookup

In [82]:
t:([] k:1 2 3 4; c:10 20 30 40)
kt:([k1: 2 3 4 5]; v:2.2 3.3 4.4 5.5)
select c, v: kt[([] k1:k); `v] from t

c  v
------
10
20 2.2
30 3.3
40 4.4

Especially for a single column, this is simpler (and more impressive to your colleagues) than the equivalent join.

In [83]:
select c,v from t lj `k xkey select k:k1,v from kt

c  v
------
10
20 2.2
30 3.3
40 4.4

Here is an example using compound keys and column renaming to match the lookup table.

In [84]:
t:([] f:`rocky`bullwinkle; l:`squirrel`moose; c:10 20)
kt:([fn:`rocky`bullwinkle`fearless; ln:`squirrel`moose`leader] v:1.1 2.2 3.3)
select c, v:kt[([] fn:f; ln:l); `v] from t

c  v
------
10 1.1
20 2.2

### Ad Hoc Inner Join (`ij`)

In [85]:
t:([] k:1 2 3 4; c:10 20 30 40)
kt:([k:2 3 4 5]; v:2.2 3.3 4.4 5.5)
t ij kt

k c  v
--------
2 20 2.2
3 30 3.3
4 40 4.4

As with `lj`, upsert semantics holds for duplicate columns.

In [86]:
t:([] k:1 2 3 4; v:10 20 30 40)
kt:([k:2 3 4 5]; v:200 300 400 500)
t ij kt

k v
-----
2 200
3 300
4 400

In [87]:
kt1:([k:1 2 3 4]; v:10 0N 30 40)
kt:([k:2 3 4 5]; v:200 300 400 500)
kt1 ij kt

k| v
-| ---
2| 200
3| 300
4| 400

### Equijoin `ej`

Unlike `ij`, all matching records in the right table appear in the result. As with any join, upsert semantics holds on duplicate columns.

In [88]:
t1:([] k:1 2 3 4; c:10 20 30 40)
t2:([] k:2 2 3 4 5; c:200 222 300 400 500; v:2.2 22.22 3.3 4.4 5.5)
t1 ij `k xkey t2
ej[`k;t1;t2]

k c   v
---------
2 200 2.2
3 300 3.3
4 400 4.4

k c   v
-----------
2 200 2.2
2 222 22.22
3 300 3.3
4 400 4.4

### Plug Join (`pj`)

_Plus join_ `pj` is a left join that replaces upsert semantics for duplicate column names with addition. This is useful when you have two tables with identical schemas having all non-key columns numeric.

In [89]:
t:([] k:`a`b`c; a:100 200 300; b:10. 20. 30.; c:1 2 3)
kt:([k:`a`b] a:10 20; b:1.1 2.2)
t pj kt

k a   b    c
------------
a 110 11.1 1
b 220 22.2 2
c 300 30   3

In [90]:
kt1:([k:`a`b`c] a:10 20 0; b:1.1 2.2 0.0; c:0 0 0)
t pj kt1

k a   b    c
------------
a 110 11.1 1
b 220 22.2 2
c 300 30   3

### Union Join

The equivalent of an ordinary SQL union on tables with matching schemas is simply `,`. Indeed, it joins two lists of compatible records.

In [91]:
t1:([] c1:`a`b; c2:1 2)
t2:([] c1:`c`d; c2:3 4)
t1, t2

c1 c2
-----
a  1
b  2
c  3
d  4

Union join `uj` is more powerful in that it vertically combines any two tables, or keyed tables.

In [94]:
t1:([] c1:`a`b`c; c2: 10 20 30)
t2:([] c1:`a`x`y; c2: 20 30 40; c3: 7.7 8.8 9.9)
t1 uj t2

c1 c2 c3
---------
a  10
b  20
c  30
a  20 7.7
x  30 8.8
y  40 9.9

Use `uj/` to combine a list of disparate tables

In [95]:
t3:([] c1:`e`f`g; c2:50 60 70; c3:5.5 6.6 7.7)
(uj/) (t1; t2; t3)

c1 c2 c3
---------
a  10
b  20
c  30
a  20 7.7
x  30 8.8
y  40 9.9
e  50 5.5
f  60 6.6
g  70 7.7

You can also apply `uj` to keyed tables, where **upsert semantics hold on both rows and columns**.

In [96]:
kt1:([k:1 2 3] v1:`a`b`c; v2:10 20 30)
kt2:([k:3 4] v2:300 400; v3:3.3 4.4)
kt1 uj kt2

k| v1 v2  v3
-| ----------
1| a  10
2| b  20
3| c  300 3.3
4|    400 4.4

The operation of `uj` is **expensive so it should only be used when necessary**; in particular, when the tables conform, use `,` or `raze`. Be especially cautious when low latency is paramount.

### As-of Joins

As-of joins are so-named because they most often **join tables along time columns** to obtain a value in one table that is current as of a time in another table. As-of joins are **non-equijoins that match on less-than-or-equal. They are not restricted to time values.**

Syntax: `aj`$[`c_1...`c_n;t_1;t_2]$

The semantics of `aj` are as follows. The match on **all specified columns except the last is by equals**. Assuming the records are sequenced by $c_n$ in both tables, for a given cn value in $t_1$, the match picks the greatest $c_n$ in $t_2$ less than or equal to the given value in $t_1$. Specifically, if the cn columns are sequenced temporal values, for each cn value in $t_1$ the match picks the $t_2$ row whose $c_n$ value is in effect “as of” the time in $t_1$.

In [97]:
show t:([] ti:10:01:01 10:01:03 10:01:04;sym:`msft`ibm`ge;qty:100 200 150)
show q:([] ti:10:01:00 10:01:01 10:01:01 10:01:02;sym:`ibm`msft`msft`ibm;px:100 99 101 98)
aj[`sym`ti;t;q]

ti       sym  qty
-----------------
10:01:01 msft 100
10:01:03 ibm  200
10:01:04 ge   150
ti       sym  px
-----------------
10:01:00 ibm  100
10:01:01 msft 99
10:01:01 msft 101
10:01:02 ibm  98

ti       sym  qty px
---------------------
10:01:01 msft 100 101
10:01:03 ibm  200 98
10:01:04 ge   150

If you want the time of the matching quote in the result instead of the time of the trade, use `aj0`.

In [98]:
aj0[`sym`ti;t;q]

ti       sym  qty px
---------------------
10:01:01 msft 100 101
10:01:02 ibm  200 98
10:01:04 ge   150

The simpler function `asof` performs the same match as `aj` but with a table against a single record. The result picks out th
e remaining columns in the matched row of the table.

In [1]:
t:([] ti:10:01:01 10:01:03 10:01:04; sym:`msft`ibm`ge; qty:100 200 150; px:45 160 55)
show t
t asof `sym`ti!(`ibm;10:01:03)

ti       sym  qty px
---------------------
10:01:01 msft 100 45
10:01:03 ibm  200 160
10:01:04 ge   150 55

qty| 200
px | 160

A list of such dictionary records conforms – i.e., is a table – and `asof` matches against each record.

In [100]:
t asof ([] sym:`msft`ibm; ti:10:01:01 10:01:03)

qty px
-------
100 45
200 160

As-of joins are also useful with non-numeric data. Suppose we have a table containing a history of state changes – e.g., employee promotions. An as-of join will determine the state “as of” any point in time.

In [101]:
promotions:([] name:`nuba`devi`nuba`devi`nuba;
    dt:2000.01.01 2005.02.14 2010.02.01 2012.08.12 2015.11.01;
    title:`associate`analyst`director`cfo`retired)
promotions asof `name`dt!(`nuba; 2009.07.04)
promotions asof `name`dt!(`devi; 2015.12.01)
events:([] name:`nuba`devi; dt: 2009.07.04 2015.12.01)
aj[`name`dt; events; promotions]

title| associate

title| cfo

name dt         title
-------------------------
nuba 2009.07.04 associate
devi 2015.12.01 cfo

#### Window Join `wj` !!

Window joins are a generalization of as-of joins and are specifically geared for analyzing the relationship between trades and quotes in finance. The idea is that you want to investigate the behavior of quotes in a neighborhood of each trade. For example, to determine how well a trade was executed, you need to examine the range of bid and ask prices that were prevalent around the trade time.

Syntax: `wj`[w;c;t;(q;(f0;c0);(f1;c1))]

Here: `w` is a list of windows, `c` is the list of sym and time column names, `t` is the trades table. The final parameter is a list with the quotes table and a pair of lists, each with an aggregate function and a column name.

To see all the values in each window, pass the identity function `::` in place of the aggregates.

In [102]:
show t:([]sym:3#`aapl;time:09:30:01 09:30:04 09:30:08;price:100 103 101)
show q:([] sym:8#`aapl;
    time:09:30:01+(til 5),7 8 9;
    ask:101 103 103 104 104 103 102 100;
    bid:98 99 102 103 103 100 100 99)

sym  time     price
-------------------
aapl 09:30:01 100
aapl 09:30:04 103
aapl 09:30:08 101
sym  time     ask bid
---------------------
aapl 09:30:01 101 98
aapl 09:30:02 103 99
aapl 09:30:03 103 102
aapl 09:30:04 104 103
aapl 09:30:05 104 103
aapl 09:30:08 103 100
aapl 09:30:09 102 100
aapl 09:30:10 100 99

We construct fixed-width windows of 2 seconds before and one second after each trade time. (There is no requirement that the windows be of uniform width.)

In [103]:
w:-2 1+\:t `time
w

09:29:59 09:30:02 09:30:06
09:30:02 09:30:05 09:30:09

For readability we place the names of the sym and time columns in a variable.

In [108]:
c:`sym`time

In [109]:
wj[w;c;t;(q;(::;`ask);(::;`bid))]

sym  time     price ask             bid
--------------------------------------------------
aapl 09:30:01 100   101 103         98 99
aapl 09:30:04 103   103 103 104 104 99 102 103 103
aapl 09:30:08 101   104 103 102     103 100 100

Now we apply `wj` with actual aggregates for the maximum ask and minimum bid over each window. Here you see the results of the aggregate functions run within each window.

In [110]:
wj[w;c;t;(q;(max;`ask);(min;`bid))]

sym  time     price ask bid
---------------------------
aapl 09:30:01 100   103 98
aapl 09:30:04 103   104 99
aapl 09:30:08 101   104 100

As opposed to the aggregates being run over only the quote values within each window, you can also include the quotes that are current at the beginning of the window. This matters if there is no quote precisely at the beginning time of the window. For this case use `wj1`, whose syntax is identical to `wj`

In [111]:
wj1[w;c;t;(q;(::;`ask);(::;`bid))]

sym  time     price ask             bid
--------------------------------------------------
aapl 09:30:01 100   101 103         98 99
aapl 09:30:04 103   103 103 104 104 99 102 103 103
aapl 09:30:08 101   103 102         100 100

## Parameterized Queries

In [113]:
t:([] c1:`a`b`c; c2:10 20 30; c3:1.1 2.2 3.3)
select from t where c2>15
proc:{[sc] select from t where c2>sc}
proc 15

c1 c2 c3
---------
b  20 2.2
c  30 3.3

c1 c2 c3
---------
b  20 2.2
c  30 3.3

In [114]:
proc2:{[nms;sc] select from t where c1 in nms, c2>sc}
proc2[`a`c; 15]

c1 c2 c3
---------
c  30 3.3

You **can** pass a table as a parameter to a template, either by value or by name.

In [115]:
t:([] c1:`a`b`c; c2:10 20 30; c3:1.1 2.2 3.3)
proc3:{[t;nms;delta] update c2+delta from t where c1 in nms}
proc3[t;`a`c;100]

c1 c2  c3
----------
a  110 1.1
b  20  2.2
c  130 3.3

There is no need to restrict stored procs in q to the templates. Any expression that operates on tables can serve.

In [116]:
t:([] c1:`a`b`c; c2:10 20 30; c3:1.1 2.2 3.3)
procf:{[cs] cs#t}
procf `c1`c2

c1 c2
-----
a  10
b  20
c  30

## Views

A q-sql view is a named table expression created as an alias with the double-colon operator `::`. It is common to use the templates in views but this is not a limitation.

In the following example, contrast `u`, which is a q variable that is assigned the result of a query, to the view (alias) `v` that is the query expression itself.

In [118]:
t:([] c1:`a`b`c; c2:10 20 30)
u:select from t where c2>15
v::select from t where c2>15
u

c1 c2
-----
b  20
c  30

In [119]:
v

c1 c2
-----
b  20
c  30

In [120]:
update c2:15 from `t where c1=`b
u

`t

c1 c2
-----
b  20
c  30

In [121]:
v

c1 c2
-----
c  30

To find the underlying query of a `view`, or any alias, apply the function view to the symbol alias name.

In [123]:
view `v
a:42
b::a
view `b

"select from t where c2>15"

,"a"

To list all the views in a namespace, use the function `views` with the context name. For example, to list the views in the root,

In [125]:
views `.

`b`v

## Functional Forms

The function `parse` can be applied to a string containing a template query to produce a parse tree whose items (nearly) work in the equivalent functional form. A complication is that the operators are displayed in k form instead of q.

**Tip**
We recommend writing table operations in fundamental or template form unless you anticipate needing to parameterize column names. The folks who assume your code will thank you.

Two functional forms:
1. `select` and `exec`: ?[t;c;b;a] 
2. `update` and `delete`: ![t;c;b;a] 


- `t` is a table or the name of a table
- `a` is a dictioanry of aggregates
- `b` is a dictionary of groupbys or a flag controlling other aspects of the query
- `c` is a list of constraints

The expressions in `a`, `b` and `c` can involve columns of `t` and also any variables that are in scope. The rules for expression interpretation are:
1. Columns are always represented by their symbolic names
2. Consequently, any literal symbols, or lists of symbols, appearing in the expressions must be distinguished. This is done by enlisting them. Really.

In [126]:
t:([] c1:`a`b`a`c`a`b`c; c2:10*1+til 7; c3:1.1*1+til 7)
ft:{([] c1:`a`b`a`c`a`b`c; c2:10*1+til 7; c3:1.1*1+til 7)}

### Functional select

In [128]:
select from t
?[t;();0b;()] ~ t

c1 c2 c3
---------
a  10 1.1
b  20 2.2
a  30 3.3
c  40 4.4
a  50 5.5
b  60 6.6
c  70 7.7

1b

In this degenerate functional form,

- The constraint parameter is the empty list
- The by parameter is the special value `0b` indicating there is no grouping in a select query
- The aggregate parameter takes the special value of the general empty list, indicating there is no aggregate phrase

### Functional `exec`
### Functional `update`
### Functional `delete`

## Examples

### The trades Table

In [2]:
mktrades:{[tickers; sz]
  dt:2015.01.01+sz?31;
  tm:sz?24:00:00.000;
  sym:sz?tickers;
  qty:10*1+sz?1000;
  px:90.0+(sz?2001)%100;
  t:([] dt; tm; sym; qty; px);
  t:`dt`tm xasc t;
  t:update px:6*px from t where sym=`goog;
  t:update px:2*px from t where sym=`ibm;
  t}
trades:mktrades[`aapl`goog`ibm; 10000000]

### The instrument Table

In [3]:
instr:([sym:`symbol$()] name:`symbol$(); industry:`symbol$())
`instr upsert (`ibm; `$"International Business Machines"; `$"Computer Services")
`instr upsert (`msft; `$"Microsoft"; `$"Software")
`instr upsert (`goog; `$"Google"; `$"Search")
`instr upsert (`aapl; `$"Apple"; `$"Electronics")
instr

`instr

`instr

`instr

`instr

sym | name                            industry
----| -------------------------------------------------
ibm | International Business Machines Computer Services
msft| Microsoft                       Software
goog| Google                          Search
aapl| Apple                           Electronics

In [4]:
update `instr$sym from `trades
meta trades

`trades

c  | t f     a
---| ---------
dt | d       s
tm | t
sym| s instr
qty| j
px | f

### Basic Queries

In [5]:
count trades
count select from trades
exec count i from trades
select count i from trades

10000000

10000000

10000000

x
--------
10000000

In [6]:
exec count i from trades where sym=`ibm

3329912

In [7]:
select count i from trades where sym=`ibm

x
-------
3329912

In [8]:
select count i by sym from trades
() xkey select count i by sym from trades

sym | x
----| -------
aapl| 3333508
goog| 3336580
ibm | 3329912

sym  x
------------
aapl 3333508
goog 3336580
ibm  3329912

In [9]:
select from trades where dt=2015.01.15,sym=`aapl

dt         tm           sym  qty  px
----------------------------------------
2015.01.15 00:00:00.387 aapl 9890 103.29
2015.01.15 00:00:01.362 aapl 4350 97.37
2015.01.15 00:00:01.379 aapl 30   91.12
2015.01.15 00:00:02.428 aapl 5280 99.44
2015.01.15 00:00:03.249 aapl 5280 104.19
2015.01.15 00:00:04.608 aapl 2700 100.29
2015.01.15 00:00:05.367 aapl 6750 105.07
2015.01.15 00:00:06.174 aapl 9550 105.6
2015.01.15 00:00:06.894 aapl 3750 97.4
2015.01.15 00:00:07.479 aapl 5430 108.41
2015.01.15 00:00:08.767 aapl 6250 95.99
2015.01.15 00:00:10.044 aapl 790  105.8
2015.01.15 00:00:10.185 aapl 4840 103.47
2015.01.15 00:00:11.885 aapl 1790 105
2015.01.15 00:00:12.852 aapl 3310 99.83
2015.01.15 00:00:13.232 aapl 9990 107.02
2015.01.15 00:00:13.487 aapl 2360 106.4
2015.01.15 00:00:13.709 aapl 5500 96.49
2015.01.15 00:00:14.523 aapl 830  98.94
2015.01.15 00:00:14.940 aapl 6680 103.58
..

In [10]:
select from trades where sym=`goog, tm within 12:00:00 13:00:00

dt         tm           sym  qty  px
----------------------------------------
2015.01.01 12:00:00.316 goog 4320 597.66
2015.01.01 12:00:00.374 goog 7370 552.66
2015.01.01 12:00:03.617 goog 1150 640.02
2015.01.01 12:00:04.193 goog 4190 622.8
2015.01.01 12:00:06.546 goog 290  655.2
2015.01.01 12:00:07.248 goog 6650 553.62
2015.01.01 12:00:08.245 goog 9780 557.34
2015.01.01 12:00:09.378 goog 6900 571.74
2015.01.01 12:00:09.515 goog 3920 554.82
2015.01.01 12:00:09.600 goog 5740 608.22
2015.01.01 12:00:09.750 goog 5530 653.16
2015.01.01 12:00:09.756 goog 2900 590.64
2015.01.01 12:00:10.203 goog 90   605.22
2015.01.01 12:00:10.517 goog 1830 591.78
2015.01.01 12:00:11.619 goog 1820 654.06
2015.01.01 12:00:12.528 goog 9290 603.96
2015.01.01 12:00:12.557 goog 4340 571.68
2015.01.01 12:00:12.665 goog 7530 571.32
2015.01.01 12:00:13.229 goog 8180 555.6
2015.01.01 12:00:13.383 goog 170  580.92
..

In [11]:
noon:12:00:00
thirteen00:13:00:00
select from trades where sym=`goog, tm within (noon;thirteen00)

dt         tm           sym  qty  px
----------------------------------------
2015.01.01 12:00:00.316 goog 4320 597.66
2015.01.01 12:00:00.374 goog 7370 552.66
2015.01.01 12:00:03.617 goog 1150 640.02
2015.01.01 12:00:04.193 goog 4190 622.8
2015.01.01 12:00:06.546 goog 290  655.2
2015.01.01 12:00:07.248 goog 6650 553.62
2015.01.01 12:00:08.245 goog 9780 557.34
2015.01.01 12:00:09.378 goog 6900 571.74
2015.01.01 12:00:09.515 goog 3920 554.82
2015.01.01 12:00:09.600 goog 5740 608.22
2015.01.01 12:00:09.750 goog 5530 653.16
2015.01.01 12:00:09.756 goog 2900 590.64
2015.01.01 12:00:10.203 goog 90   605.22
2015.01.01 12:00:10.517 goog 1830 591.78
2015.01.01 12:00:11.619 goog 1820 654.06
2015.01.01 12:00:12.528 goog 9290 603.96
2015.01.01 12:00:12.557 goog 4340 571.68
2015.01.01 12:00:12.665 goog 7530 571.32
2015.01.01 12:00:13.229 goog 8180 555.6
2015.01.01 12:00:13.383 goog 170  580.92
..

In [12]:
select maxpx:max px by dt from trades where sym=`aapl

dt        | maxpx
----------| -----
2015.01.01| 110
2015.01.02| 110
2015.01.03| 110
2015.01.04| 110
2015.01.05| 110
2015.01.06| 110
2015.01.07| 110
2015.01.08| 110
2015.01.09| 110
2015.01.10| 110
2015.01.11| 110
2015.01.12| 110
2015.01.13| 110
2015.01.14| 110
2015.01.15| 110
2015.01.16| 110
2015.01.17| 110
2015.01.18| 110
2015.01.19| 110
2015.01.20| 110
..

In [13]:
select lo:min px, hi:max px by sym.name from trades

name                           | lo  hi
-------------------------------| -------
Apple                          | 90  110
Google                         | 540 660
International Business Machines| 180 220

In [14]:
select totq:sum qty, avgq:avg qty by sym from trades where sym in `ibm`goog

sym | totq        avgq
----| --------------------
goog| 16703515390 5006.179
ibm | 16667961470 5005.526

In [15]:
select hi:max px,lo:min px,open:first px, close:last px by dt,tm.minute from trades where sym=`goog

dt         minute| hi     lo     open   close
-----------------| ---------------------------
2015.01.01 00:00 | 658.98 540.72 610.98 561.66
2015.01.01 00:01 | 659.4  542.82 594.24 595.86
2015.01.01 00:02 | 652.5  540    625.26 583.5
2015.01.01 00:03 | 659.64 540.6  650.76 620.88
2015.01.01 00:04 | 659.16 543.48 648.12 649.86
2015.01.01 00:05 | 657.24 540.48 594.96 639.54
2015.01.01 00:06 | 658.74 540    603.18 563.16
2015.01.01 00:07 | 659.46 540.36 598.02 573.12
2015.01.01 00:08 | 659.7  541.5  566.52 599.34
2015.01.01 00:09 | 658.44 541.14 643.62 639.54
2015.01.01 00:10 | 658.74 540.54 608.4  569.76
2015.01.01 00:11 | 659.22 542.58 570.24 544.92
2015.01.01 00:12 | 658.8  541.32 612.06 551.46
2015.01.01 00:13 | 659.7  542.7  595.62 637.26
2015.01.01 00:14 | 657.9  540    613.86 590.4
2015.01.01 00:15 | 659.22 540.3  579.6  625.98
2015.01.01 00:16 | 658.74 540.48 545.1  577.2
2015.01.01 00:17 | 652.68 541.44 644.58 647.52
2015.01.01 00:18 | 658.02 541.5  557.58 647.46
2015.01.01 00:19 | 654.84 540    546.42 540
..

In [16]:
favg:{(sum x*1+til ctx)%ctx*ctx:count x}
select favgpx:favg px by sym from trades

sym | favgpx
----| --------
aapl| 50.00125
goog| 300.0098
ibm | 100.0079

### Meaty Queries

In [17]:
select vwap:qty wavg px by dt from trades where sym=`ibm
select vwap:qty wavg px by dt,100 xbar tm from trades where sym=`ibm

dt        | vwap
----------| --------
2015.01.01| 200.0045
2015.01.02| 199.9817
2015.01.03| 200.0193
2015.01.04| 199.9379
2015.01.05| 199.9636
2015.01.06| 200.0109
2015.01.07| 199.9824
2015.01.08| 200.0055
2015.01.09| 199.951
2015.01.10| 199.985
2015.01.11| 200.0282
2015.01.12| 200.0326
2015.01.13| 200.0374
2015.01.14| 200.0502
2015.01.15| 200.0283
2015.01.16| 200.0439
2015.01.17| 199.9993
2015.01.18| 199.9977
2015.01.19| 200.0171
2015.01.20| 199.9833
..

dt         tm          | vwap
-----------------------| --------
2015.01.01 00:00:02.600| 196.92
2015.01.01 00:00:04.000| 206.14
2015.01.01 00:00:04.400| 202.38
2015.01.01 00:00:04.500| 216.04
2015.01.01 00:00:08.100| 183.56
2015.01.01 00:00:08.600| 210.06
2015.01.01 00:00:10.000| 209
2015.01.01 00:00:11.100| 193.6189
2015.01.01 00:00:12.000| 182.24
2015.01.01 00:00:12.400| 181.94
2015.01.01 00:00:12.700| 190.52
2015.01.01 00:00:13.900| 199.22
2015.01.01 00:00:14.000| 204.22
2015.01.01 00:00:14.400| 184.42
2015.01.01 00:00:15.400| 207.2981
2015.01.01 00:00:16.200| 188.4
2015.01.01 00:00:16.500| 206.68
2015.01.01 00:00:16.900| 200.92
2015.01.01 00:00:21.100| 207.2
2015.01.01 00:00:21.600| 207.94
..

In [18]:
select from trades where px=(max;px) fby sym

dt         tm           sym  qty  px
-------------------------------------
2015.01.01 00:14:26.479 ibm  160  220
2015.01.01 00:35:53.760 goog 1610 660
2015.01.01 00:36:38.450 aapl 1870 110
2015.01.01 00:38:21.081 ibm  4750 220
2015.01.01 00:46:37.518 aapl 440  110
2015.01.01 01:01:35.843 aapl 5600 110
2015.01.01 01:05:57.540 aapl 5040 110
2015.01.01 01:10:29.815 aapl 5990 110
2015.01.01 01:10:48.108 aapl 3400 110
2015.01.01 01:19:04.615 ibm  30   220
2015.01.01 01:21:32.478 goog 5420 660
2015.01.01 01:24:26.752 ibm  260  220
2015.01.01 01:27:04.914 aapl 5040 110
2015.01.01 01:35:25.025 ibm  9960 220
2015.01.01 01:42:42.543 aapl 2850 110
2015.01.01 01:49:51.939 ibm  2670 220
2015.01.01 02:31:34.256 ibm  9080 220
2015.01.01 02:52:09.795 aapl 8920 110
2015.01.01 03:05:29.473 goog 8830 660
2015.01.01 03:12:48.100 ibm  5100 220
..

In [19]:
select from trades where px<2*(favg;px) fby sym

dt         tm           sym  qty  px
----------------------------------------
2015.01.01 00:00:01.129 aapl 6410 99.18
2015.01.01 00:00:02.099 aapl 5200 93.82
2015.01.01 00:00:02.670 ibm  6840 196.92
2015.01.01 00:00:03.396 aapl 8460 97.14
2015.01.01 00:00:04.096 goog 3320 575.52
2015.01.01 00:00:04.772 aapl 3990 90.15
2015.01.01 00:00:05.014 aapl 970  98.43
2015.01.01 00:00:05.263 goog 8990 577.38
2015.01.01 00:00:08.103 ibm  5150 183.56
2015.01.01 00:00:08.121 goog 4060 568.02
2015.01.01 00:00:09.888 goog 2830 540.72
2015.01.01 00:00:10.048 aapl 3830 99.15
2015.01.01 00:00:10.683 aapl 4420 92.14
2015.01.01 00:00:10.848 goog 5740 595.86
2015.01.01 00:00:10.994 aapl 6180 91.17
2015.01.01 00:00:11.126 ibm  8520 188.3
2015.01.01 00:00:12.051 ibm  6740 182.24
2015.01.01 00:00:12.494 ibm  2160 181.94
2015.01.01 00:00:12.790 ibm  5330 190.52
2015.01.01 00:00:13.978 ibm  7790 199.22
..

In [20]:
show atrades:select avgqty:avg qty, avgpx:avg px by sym, dt from trades

sym  dt        | avgqty   avgpx
---------------| -----------------
aapl 2015.01.01| 4989.021 99.97649
aapl 2015.01.02| 5004.019 100.0455
aapl 2015.01.03| 5011.448 99.99385
aapl 2015.01.04| 5002.787 99.9908
aapl 2015.01.05| 5000.981 100.0157
aapl 2015.01.06| 5004.591 100.0176
aapl 2015.01.07| 4995.854 100.0034
aapl 2015.01.08| 5015.4   99.9729
aapl 2015.01.09| 5001.951 99.98638
aapl 2015.01.10| 5006.982 99.95917
aapl 2015.01.11| 5024.328 99.97282
aapl 2015.01.12| 5004.368 100.0091
aapl 2015.01.13| 5008.056 100.019
aapl 2015.01.14| 4995.221 100.0486
aapl 2015.01.15| 5016.942 99.99451
aapl 2015.01.16| 5015.834 100.0232
aapl 2015.01.17| 5001.7   99.96238
aapl 2015.01.18| 5005.672 99.99492
aapl 2015.01.19| 4998.789 100.0035
aapl 2015.01.20| 5007.235 100.0249
..

In [21]:
deltas0:{first[x] -': x}
select dt, avgpx by sym from atrades where 0<deltas0 avgpx

sym | dt                                                                     ..
----| -----------------------------------------------------------------------..
aapl| 2015.01.02 2015.01.05 2015.01.06 2015.01.09 2015.01.11 2015.01.12 2015...
goog| 2015.01.01 2015.01.04 2015.01.06 2015.01.08 2015.01.10 2015.01.12 2015...
ibm | 2015.01.02 2015.01.03 2015.01.05 2015.01.06 2015.01.08 2015.01.10 2015...

In [22]:
select 2#dt, 2#avgpx by sym from atrades where 0<deltas0 avgpx

sym | dt                    avgpx
----| ---------------------------------------
aapl| 2015.01.02 2015.01.05 100.0455 100.0157
goog| 2015.01.01 2015.01.04 599.9548 599.9773
ibm | 2015.01.02 2015.01.03 199.9966 200.043

In [24]:
dntrades:select dt,tm,qty,px by sym from trades
dntrades

sym | dt                                                                     ..
----| -----------------------------------------------------------------------..
aapl| 2015.01.01 2015.01.01 2015.01.01 2015.01.01 2015.01.01 2015.01.01 2015...
goog| 2015.01.01 2015.01.01 2015.01.01 2015.01.01 2015.01.01 2015.01.01 2015...
ibm | 2015.01.01 2015.01.01 2015.01.01 2015.01.01 2015.01.01 2015.01.01 2015...

In [25]:
dntrades~`sym xasc `sym xgroup trades

1b

In [26]:
select 2#dt,2#tm,2#qty,2#px by sym from trades

sym | dt                    tm                        qty       px
----| -----------------------------------------------------------------------
aapl| 2015.01.01 2015.01.01 00:00:01.129 00:00:02.099 6410 5200 99.18  93.82
goog| 2015.01.01 2015.01.01 00:00:02.885 00:00:04.096 7400 3320 610.98 575.52
ibm | 2015.01.01 2015.01.01 00:00:02.670 00:00:04.047 6840 2220 196.92 206.14

In [27]:
select sym,cnt:count each dt,avgpx:avg each px from dntrades

sym  cnt     avgpx
---------------------
aapl 3333508 100.0015
goog 3336580 600.0047
ibm  3329912 200.0113

In [28]:
select sym, favgpx:favg each px from dntrades

sym  favgpx
-------------
aapl 50.00125
goog 300.0098
ibm  100.0079

To find the volume-weighted average price by we use the Each iterator `'` with the binary `wavg`.

In [29]:
select sym,vwap:qty wavg' px from dntrades

sym  vwap
-------------
aapl 100.0014
goog 600.0047
ibm  200.0067

### Excursion - Pivot Table

In [30]:
show t:([]k:1 2 3 2 3; p:`a1`a2`a1`a3`a2; v:100 200 300 400 500)

k p  v
--------
1 a1 100
2 a2 200
3 a1 300
2 a3 400
3 a2 500

In [32]:
P:exec distinct p from t
exec p!v by k from t
exec P#p!v by k:k from t

1| (,`a1)!,100
2| `a2`a3!200 400
3| `a1`a2!300 500

k| a1  a2  a3
-| -----------
1| 100
2|     200 400
3| 300 500

In [33]:
P:?[t; (); (); (distinct; `p)]
P

`a1`a2`a3